#accordionSidebar.navbar-nav.bg-gradient-primary.sidebar.sidebar-dark.accordion
  = link_to root_path, class: "sidebar-brand d-flex align-items-center justify-content-center" do
    .sidebar-brand-text1.mx-3
      OWSO

  %hr.sidebar-divider.my-0
  %ul.list-unstyled
    %li.nav-item{ class: css_active_class('dashboard') }
      = link_to dashboard_path, class: "nav-link" do
        %i.fas.fa-fw.fa-tachometer-alt
        %span Dashboard

    %li.nav-item{ class: css_active_class('home') }
      = link_to home_path, class: "nav-link" do
        %i.fas.fa-fw.fa-home
        %span Home
    %li.nav-item{ class: css_active_class('sites') }
      = link_to sites_path, class: "nav-link" do
        %i.fas.fa-fw.fa-sitemap
        %span Sites
    %li.nav-item{ class: css_active_class('dictionaries') }
      = link_to dictionaries_path, class: "nav-link" do
        %i.fas.fa-fw.fa-book
        %span Dictionaries
    %li.nav-item{ class: css_active_class('users') }
      = link_to users_path, class: "nav-link" do
        %i.fas.fa-fw.fa-user
        %span Users
    %li.nav-item{ class: css_active_class('tickets') }
      = link_to tickets_path, class: "nav-link" do
        %i.fas.fa-fw.fa-envelope
        %span Tickets
    %li.nav-item{ class: css_active_class('templates') }
      = link_to templates_path, class: "nav-link" do
        %i.fas.fa-fw.fa-file-alt
        %span Templates

    - if policy(:admin).show?
      %li.nav-item{ class: css_active_class('settings') }
        = link_to settings_path, class: "nav-link" do
          %i.fas.fa-fw.fa-wrench
          %span Setting

  .text-center.d-none.d-md-inline.mb-auto
    %button#sidebarToggle.rounded-circle.border-0

  .developed-by
    %p= t("developed_by")
    = image_tag "instedd.png", class: "w-100"
    %hr
    %p
      = t("app_version", version: ENV['APP_VERSION'])
