#accordionSidebar.navbar-nav.bg-gradient-primary.sidebar.sidebar-dark.accordion
  = link_to root_path, class: "sidebar-brand d-flex align-items-center justify-content-center" do
    .sidebar-brand-text1.mx-3
      OW4C

  %hr.sidebar-divider.my-0
  %ul.list-unstyled.list-items
    - if policy(:dashboard).show?
      %li.nav-item{ class: css_active_class('dashboard') }
        = link_to dashboard_path, class: "nav-link" do
          %i.fas.fa-fw.fa-tachometer-alt
          %span= t('sidebar.dashboard')

    - if policy(Session).index?
      %li.nav-item{ class: css_active_class('home') }
        = link_to home_path, class: "nav-link" do
          %i.fas.fa-fw.fa-home
          %span= t('sidebar.home')
    
    - if policy(:provincial_usage).index?
      %li.nav-item{ class: css_active_class('provincial_usages') }
        = link_to provincial_usages_path, class: "nav-link d-flex align-items-center" do
          %i.fas.fa-fw.fa-circle-notch
          %span{style: "margin-left: 0.25rem;"}
            = t('sidebar.provincial_usages')

    - if policy(Site).index?
      %li.nav-item{ class: css_active_class('sites') }
        = link_to sites_path, class: "nav-link" do
          %i.fas.fa-fw.fa-sitemap
          %span= t('sidebar.sites')

    - if policy(Variable).index?
      %li.nav-item{ class: css_active_class('dictionaries') }
        = link_to dictionaries_path, class: "nav-link" do
          %i.fas.fa-fw.fa-book
          %span= t('sidebar.dictionaries')

    - if policy(User).index?
      %li.nav-item{ class: css_active_class('users') }
        = link_to users_path, class: "nav-link" do
          %i.fas.fa-fw.fa-user
          %span= t('sidebar.users')

    - if policy(Ticket).index?
      %li.nav-item{ class: css_active_class('tickets') }
        = link_to tickets_path, class: "nav-link" do
          %i.fas.fa-fw.fa-envelope
          %span= t('sidebar.tickets')

    - if policy(::Template).index?
      %li.nav-item{ class: css_active_class('templates') }
        = link_to templates_path, class: "nav-link" do
          %i.fas.fa-fw.fa-file-alt
          %span= t('sidebar.templates')

    - if policy(Setting).index?
      %li.nav-item{ class: css_active_class('settings') }
        = link_to settings_path, class: "nav-link" do
          %i.fas.fa-fw.fa-wrench
          %span= t('sidebar.setting')

    %li.nav-item{ class: css_active_class('pdf_templates') }
      = link_to pdf_templates_path, class: "nav-link" do
        %i.fas.fa-fw.fa-wrench
        %span= t('sidebar.pdf_templates')

  .text-center.d-none.d-md-inline.mb-auto
    %button#sidebarToggle.rounded-circle.border-0

  .sidebar-footer
    = t("app_version", version: ENV['APP_VERSION'])
