.dropdown.float-right
  %button#download.btn.btn-secondary.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
    %fa.fas.fa-download
    = t "provincial_usages.download"
  .dropdown-menu{"aria-labelledby" => "download"}
    = link_to url_for(format: :csv), class: 'dropdown-item', target: '_blank' do
      %i.fa.fas.fa-file-csv
      %span= t "provincial_usages.csv"
    = link_to '#', id: 'downloadImage', class: 'dropdown-item' do
      %i.fa.fas.fa-image
      %span= t "provincial_usages.image"

.clearfix
