= render "shared/sb-admin/page_heading", title: t("sidebar.provincial_usages")

-# compare unique
-# expand other locations

.card.shadow.mb-4
  .card-body

    
    .table-responsive
      %table.table
        %thead
          %tr
            %th{:scope => "col"} No.
            %th{:scope => "col"} Province/City
            %th{:scope => "col"} Total Unique Users
            %th{:scope => "col"} Total Visit
            %th{:scope => "col"} Total Service Delivered
        %tbody
          - @provincial_usages.each_with_index do |usage, index|
            %tr
              %th{:scope => "row"}= index + 1
              %td= usage.pro_code
              %td= usage.unique_user
              %td= usage.visit
              %td= usage.service_delivered
    