%h1 Provincial Usages

-# compare unique
-# expand other locations

%table.table
  %thead
    %tr
      %th{:scope => "col"} No.
      %th{:scope => "col"} Province/City
      %th{:scope => "col"} Total Unique Users
      %th{:scope => "col"} Total Visit
      %th{:scope => "col"} Total Service Delivered
  %tbody
    - @provincial_usages.each_with_index do |usage, index|
      %tr
        %th{:scope => "row"}= index + 1
        %td= usage.pro_code
        %td= usage.unique_user
        %td= usage.visit
        %td= 'usage.total_service_delivered'
    