= render "shared/sb-admin/page_heading", title: t("sidebar.provincial_usages")

.card.shadow.mb-4
  .card-body
    = render "download"
    = render "dashboard/filter_options"

    .table-responsive
      %table.table
        %thead
          %tr
            - @provincial_usages.t_headers.each do |h|
              %th{:scope => "col"}= h
        %tbody
          - @provincial_usages.each_with_index do |p, index|
            %tr
              %th{:scope => "row"}
                = ++index
              - p.data.each do |d|
                %td= d
