.row
  .col-xl-4.col-lg-6
    = render partial: "dashboard/gender", locals: { id: "total_user_gender", title: t("dashboard.total_user_gender") }

  .col-xl-4.col-lg-6
    = render partial: "dashboard/total_user_visit", locals: { id: "chart_total_user_visit", title: t("dashboard.total_user_visit") }

  .col-xl-4.col-lg-6
    = render partial: "dashboard/total_user_feedback_groupby_gender", locals: { id: "total_users_feedback_by_gender", title: t("dashboard.total_user_feedback_groupby_gender") }
  
  .col-xl-6.col-lg-6
    = render partial: "dashboard/total_user_feedback", locals: { id: "total_user_feedback", title: t("dashboard.total_user_feedback") }

  .col-xl-6.col-lg-6
    = render partial: "dashboard/number_of_tracked_ticket", locals: { id: "number_of_ticket_tracking", title: t("dashboard.number_of_ticket_tracking") }

  .col-xl-6.col-lg-6
    = render partial: "dashboard/overview", locals: { id: "chart-overview", title: t("dashboard.overview") }

  -# charts from public dashboard

  .col-xl-6.col-lg-6
    = render( ChartComponent.new(name: t("welcomes.most_requested_services")) ) do |c|
      - c.with(:body) { content_tag(:canvas, nil, id: "chart_most_requested_services") }
      - c.with(:hint) { t("hint.most_requested_services") }

  .col-lg-6
    = render( ChartComponent.new(name: t("welcomes.information_access_by"), filterable: true) ) do |c|
      - c.with(:addon) do
        %select.period-filter{ data: { resourcepath: "access-info", formater: "accessInfo", canvasid: "chart_information_access_by_period" }}
          %option{ value: "month" }= t("period.monthly")
          %option{ value: "quarter" }= t("period.quarterly")
          %option{ value: "year" }= t("period.yearly")
      - c.with(:body) { content_tag(:canvas, nil, id: "chart_information_access_by_period") }
      - c.with(:hint) { t("hint.information_access_by_period") }

  .col-lg-6
    = render( ChartComponent.new(name: t("welcomes.number_access_by_main_services")) ) do |c|
      - c.with(:body) { content_tag(:canvas, nil, id: "chart_number_access_by_main_services") }
      - c.with(:hint) { t("hint.number_access_by_main_services") }

  .col-lg-6
    - name = t("welcomes.most_service_tracked_by_periodic")
    = render( ChartComponent.new(name: name, filterable: true) ) do |c|
      - c.with(:addon) do
        %select.period-filter{ data: { resourcepath: "service-tracked", formater: "mostServiceTracked", canvasid: "chart_most_service_tracked_periodically" }}
          %option{ value: "month" }= t("period.monthly")
          %option{ value: "quarter" }= t("period.quarterly")
          %option{ value: "year" }= t("period.yearly")
      - c.with(:hint) { t("hint.most_service_tracked_by_periodic") }
      - c.with(:body) do
        %canvas#chart_most_service_tracked_periodically

  .col-lg-6
    = render( ChartComponent.new(name: t("welcomes.ticket_tracking_by_gender")) ) do |c|
      - c.with(:body) { content_tag(:canvas, nil, id: "chart_ticket_tracking_by_gender") }
      - c.with(:hint) { t("hint.ticket_tracking_by_gender") }

  .col-lg-6
    = render( ChartComponent.new(name: t("welcomes.information_access_by_gender")) ) do |c|
      - c.with(:body) { content_tag(:canvas, nil, id: "gender_feedback") }
      - c.with(:hint) { t("hint.information_access_by_gender") }

  .col-lg-6
    = render( ChartComponent.new(name: t("welcomes.overall_rating_by_owso")) ) do |c|
      - c.with(:body) { content_tag(:canvas, nil, id: "chart_overall_rating_by_owso") }
      - c.with(:hint) { t("hint.overall_rating_by_owso") }

  .col-lg-6
    = render( ChartComponent.new(name: t("welcomes.owso_feedback_trend"), filterable: true) ) do |c|
      - c.with(:addon) do
        %select.period-filter{ data: { resourcepath: "feedback-trend", formater: "feedbackTrend", canvasid: "chart_owso_feedback_trend" }}
          %option{ value: "month" }= t("period.monthly")
          %option{ value: "quarter" }= t("period.quarterly")
          %option{ value: "year" }= t("period.yearly")
      - c.with(:body) { content_tag(:canvas, nil, id: "chart_owso_feedback_trend") }
      - c.with(:hint) { t("hint.owso_feedback_trend") }

  -# .col-lg-6
  -#   = render( ChartComponent.new(name: t("welcomes.feedback_by_sub_categories", name: @location_filter.province_name)) ) do |c|
  -#     - c.with(:subheader) do
  -#       %span{ data: { toggle: "tooltip", title: full_district_list_name } }
  -#         = show_location_detail
  -#       &middot;
  -#       = link_to t("sites.view_detail"), "#", id: "link-view-detail", name: "link_view_detail", role: "link", data: { toggle: "modal", target: "#popup", size: "modal-lg", title: t("sites.sub_category_detail", province: @location_filter.province_name(:short)), element: ".sub_categories", callback: "loadSubCategories" }
  -#     - c.with(:body) { content_tag(:canvas, nil, id: "chart_feedback_by_sub_category") }
  -#     - c.with(:hint) { t("hint.feedback_by_sub_categories") }
