.row
  .col-xl-4.col-md-6.mb-4
    .card.border-left-success.shadow.h-100.py-2
      .card-body
        .row.no-gutters.align-items-center
          .col.mr-2
            .text-xs.font-weight-bold.text-success.text-uppercase.mb-1
              = t("dashboard.total_users")
            .h4.mb-0.font-weight-bold.text-gray-800
              = @query.user_count
          .col-auto
            %i.fas.fa-users.fa-2x.text-gray-300

  .col-xl-4.col-md-6.mb-4
    .card.border-left-primary.shadow.h-100.py-2
      .card-body
        .row.no-gutters.align-items-center
          .col.mr-2
            .text-xs.font-weight-bold.text-primary.text-uppercase.mb-1
              = t("dashboard.total_uniq_users")
            .h4.mb-0.font-weight-bold.text-gray-800
              = @query.user_uniq_count
          .col-auto
            %i.fas.fa-user.fa-2x.text-gray-300
  
  .col-xl-4.col-md-6.mb-4
    .card.border-left-warning.shadow.h-100.py-2
      - if policy(:dashboard).setting?
        = link_to "#", data: { toggle: "modal", target: "#mostRequest" } do
          %i.fas.fa-cog.cog

        = render 'choose_dictionary_modal', url: set_most_request_dictionaries_path, checked_method: :is_most_request, modal_id: 'mostRequest'

      .card-body
        .row.no-gutters.align-items-center
          .col.mr-2
            .text-xs.font-weight-bold.text-warning.text-uppercase.mb-1
              = t("dashboard.most_request_service")

            - most_req = @query.most_request_service
            - if most_req.present?
              .h4.mb-0.font-weight-bold.text-gray-800
                = most_req[:key].presence || t("not_available")

              %span.text-gray-800{ data: { html: "true", toggle: "tooltip", title: t("most_request_service_tooltip_html", most_req: most_req[:value], most_req_name: most_req[:key], total_req: @query.total_request_service, total_req_name: @query.most_req_variable.name) } }
                = "#{most_req[:value]}/#{@query.total_request_service}"

          .col-auto
            %i.fas.fa-file-alt.fa-2x.text-gray-300
