.row
  = render( SummaryComponent.new(style: "success", count: @query.user_count) ) do |c|
    = c.with(:title) { t("dashboard.total_users") }
    = c.with(:fa_icon) { "fa-users" }

  = render( SummaryComponent.new(style: "danger", count: @query.user_accessed_count) ) do |c|
    = c.with(:title) { t("dashboard.total_users_accessed") }
    = c.with(:fa_icon) { "fa-landmark" }
  
  = render( SummaryComponent.new(style: "primary", count: @query.user_unique_count) ) do |c|
    = c.with(:title) { t("dashboard.total_uniq_users") }
    = c.with(:fa_icon) { "fa-user" }
    = c.with(:desc) do
      %ul.list-inline.m-0
        - if Variable.gender.present?
          = render partial: "dashboard/unique_visitors_group_by_genders", collection: @query.unique_by_genders, as: :session

  - most_req = @query.most_requested_service
  = render( SummaryComponent.new(style: "warning", count: most_req&.fetch(:key).presence || t("not_available")) ) do |c|
    = c.with(:config) do
      - if policy(:dashboard).setting?
        = link_to "#", data: { toggle: "modal", target: "#mostRequest" } do
          %i.fas.fa-cog.cog.cog__most_request
        = render 'choose_dictionary_modal', url: set_most_request_dictionaries_path, checked_method: :most_request?, modal_id: 'mostRequest'
    = c.with(:title) { t("dashboard.most_request_service") }
    = c.with(:fa_icon) { "fa-file-alt" }
    = c.with(:desc) do
      - if most_req.present?
        %small.text-gray-800{ data: { html: "true", toggle: "tooltip", title: t("most_request_service_tooltip_html", most_req: most_req[:value], most_req_name: most_req[:key], total_req: @query.total_requested_service, total_req_name: Variable.most_request.name) } }
          = "#{most_req[:value]}/#{@query.total_requested_service}"
