.row
  .col-xl-4.col-lg-6
    = render partial: "dashboard/gender", locals: { id: "total_user_gender", title: t("dashboard.total_user_gender") }

  .col-xl-4.col-lg-6
    = render partial: "dashboard/total_user_visit", locals: { id: "chart_total_user_visit", title: t("dashboard.total_user_visit") }

  .col-xl-4.col-lg-6
    = render partial: "dashboard/total_user_feedback_groupby_gender", locals: { id: "total_users_feedback_by_gender", title: t("dashboard.total_user_feedback_groupby_gender") }
  
  .col-xl-6.col-lg-6
    = render partial: "dashboard/total_user_feedback", locals: { id: "total_user_feedback", title: t("dashboard.total_user_feedback") }

  .col-xl-6.col-lg-6
    = render partial: "dashboard/number_of_tracked_ticket", locals: { id: "number_of_ticket_tracking", title: t("dashboard.number_of_ticket_tracking") }

  .col-xl-6.col-lg-6
    = render partial: "dashboard/overview", locals: { id: "chart-overview", title: t("dashboard.overview") }

  -# charts from public dashboard

  .col-xl-6.col-lg-6
    = render partial: "dashboard/charts/most_requested_services", locals: locals[:most_requested_services]

  .col-lg-6
    = render partial: "dashboard/charts/information_access", locals: locals[:information_access]

  .col-lg-6
    = render partial: "dashboard/charts/main_services_access", locals: locals[:main_services_access]

  .col-lg-6
    = render partial: "dashboard/charts/service_tracked", locals: locals[:service_tracked]

  .col-lg-6
    = render partial: "dashboard/charts/ticket_tracking", locals: locals[:ticket_tracking]

  .col-lg-6
    = render partial: "dashboard/charts/access_by_gender", locals: locals[:access_by_gender]

  .col-lg-6
    = render partial: "dashboard/charts/overall_rating", locals: locals[:overall_rating]

  .col-lg-6
    = render partial: "dashboard/charts/feedback_trend", locals: locals[:feedback_trend]

  .col-lg-6
    = render partial: "dashboard/charts/sub_categories", locals: locals[:sub_categories]

.sub_categories.d-none
  - @query.district_codes_without_other.each do |district_id|
    = render( ChartComponent.new(name: t("welcomes.feedback_by_sub_categories", name: district(district_id).send(t_name) )) ) do |c|
      - c.with(:body) { content_tag(:canvas, nil, id: "chart_feedback_by_sub_category_#{district_id}", class: "chart_feedback_by_sub_category", "data-id": district_id) }

#popup.p-0.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "popupModal", :role => "dialog", :tabindex => "-1" }
  .modal-dialog.modal-xl{:role => "document"}
    .modal-content
      .modal-header
        %h5.modal-title
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body{ "data-state": "prune" }
      .modal-footer
        %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button", role: "button", value: "canceled"}
          = t("shared.cancel")
