.my-4.d-flex.flex-wrap.filter-options
  .flex-grow-1
    %ul.list-inline.platform-list
      - param = {start_date: @start_date, end_date: @end_date, province_code: params[:province_code], district_code: params[:district_code], gender: params[:gender]}
      %li.list-inline-item{class: ('active' if params[:platform].blank?)}
        = link_to t("dashboard.both"), url_for(param), class: 'text-decoration-none'
      %li.list-inline-item{class: get_css_active_class('ivr')}
        = link_to t("dashboard.ivr"), url_for(param.merge(platform: 'ivr')), class: 'text-decoration-none'
      %li.list-inline-item{class: get_css_active_class('chatbot')}
        = link_to t("dashboard.chatbot"), url_for(param.merge(platform: 'chatbot')), class: 'text-decoration-none'

  %div
    %form#q.float-right.form.d-flex{ action: url_for }
      .gender.d-flex.align-items-center
        .filter-label.mr-2
          = t("dictionaries.gender")
        .form-group.mb-0.mr-3.gender-options
          %select.form-control.select.province__select-option{ name: "gender", onchange: "this.form.submit()"}
            %option{ value: "" }= t('all')
            = render(GenderOptionComponent.new(name: "male"))
            = render(GenderOptionComponent.new(name: "female"))
            = render(GenderOptionComponent.new(name: "other"))

      .province.d-flex.align-items-center
        = hidden_field '', :platform, value: params[:platform]

        = render 'dashboard/filter_location'

      .date-filter.d-flex.align-items-center
        .date-filter__label
          %span.mr-2
            =t("dashboard.show")
        .date-filter__choose-option
          .input-group.date-group
            = render "shared/input_date_range"
