.my-4.d-flex.flex-wrap
  .flex-grow-1
    %ul.list-inline.platform-list
      - param = {daterange: params[:daterange], province_code: params[:province_code], district_code: params[:district_code]}
      %li.list-inline-item{class: ('active' if params[:platform].blank?)}
        = link_to t("dashboard.both"), dashboard_path(param), class: 'text-decoration-none'
      %li.list-inline-item{class: get_css_active_class('ivr')}
        = link_to t("dashboard.ivr"), dashboard_path(param.merge(platform: 'ivr')), class: 'text-decoration-none'
      %li.list-inline-item{class: get_css_active_class('chatbot')}
        = link_to t("dashboard.chatbot"), dashboard_path(param.merge(platform: 'chatbot')), class: 'text-decoration-none'

  %div
    %form.float-right.form.d-flex{ action: dashboard_path }
      .province.d-flex.align-items-center
        = hidden_field '', :platform, value: params[:platform]

        = render 'filter_location'

      .date-filter.d-flex.align-items-center
        .date-filter__label
          %span.mr-2
            =t("dashboard.show")
        .date-filter__choose-option
          .input-group
            %input.datepicker_date{:name => "daterange", :value => "#{@date_range}"}
            .input-group-append
              .input-group-text
                %i.fas.fa-calendar-week.fa-sm
