.col-xl-6.col-lg-5
  .card.shadow.mb-4
    .card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
      .h5.m-0.font-weight-bold.text-primary
        = t("dashboard.overview")
        - if policy(:dashboard).setting?
          = link_to "#", data: { toggle: "modal", target: "#chooseAccessed" } do
            %i.fas.fa-cog.cog
    .card-body
      .legend.text-center
        = render partial: "dashboard/overview/legend", locals: { title: t("dashboard.accessed_explain"), index: 0, class_name: "rect__accessed", display_text: t("dashboard.accessed") }
        = render partial: "dashboard/overview/legend", locals: { title: t("dashboard.submitted_explain"), index: 1, class_name: "rect__submitted", display_text: t("dashboard.submitted") }

      .pt-4.pb-2.d-flex.justify-content-around.align-items-center
        = render 'choose_dictionary_modal', url: set_service_accessed_dictionaries_path, checked_method: :is_service_accessed, modal_id: 'chooseAccessed'
        - colors = @query.goals.map {|g| g[:color]}
        = line_chart @query.goals.map { |goal| { name: goal[:name], data: goal[:data] } }, colors: colors, id: "chart-overview", height: "250px", legend: false