.card
  .card-header.p-1
    %h2.mb-0.pl-3
      %button.pl-0.text-decoration-none.btn.btn-link{"aria-controls" => "collapseOne", "aria-expanded" => "true", "data-target" => "#collapse#{variable.name}", "data-toggle" => "collapse", :type => "button" }
        = variable.name

  .collapse{ class: toggle_class_name("show", variable.criteria?), id: "collapse#{variable.name}", "aria-labelledby" => "headingOne", "data-parent" => "#accordionExample"}
    .card-body
      %ul.list-unstyled.value-list
        - variable.values.distinct_values.each do |value|
          %li
            = radio_button_tag "variable_value[id]", value.id, value.kind_of_criteria?, class: "align-baseline mr-2"
            %label{ for: "variable_value_id_#{value.id}" }
              = value.mapping_value
