.card.shadow.mb-4{ role: "figure" }
  .card-header.position-relative
    .d-flex.flex-row.align-items-center.justify-content-between
      .h5.m-0.font-weight-bold.d-flex.justify-content-center.align-items-center
        %span.chart-name.text-primary.d-inline-block.mr-1.chart-head.text-capitalize
          = @name
        - if hint.present?
          %span{ data: { toggle: "tooltip", title: hint } }
            %i.icon-hint.far.fa-question-circle
        &nbsp;
        = addon
      .tools.d-flex
        - if @downloadable
          = link_to "#", class: "chart-dl text-dark", role: "link", data: { name: @name, toggle: "tooltip", title: t(:download_chart) } do
            %i.fa.fa-download
        = config
    %span.card-subheader.position-absolute
      = subheader

  .card-body
    .chart-wrapper.pt-4.d-flex.justify-content-around.align-items-center.position-relative{ style: "width: 483px; height: 250px"}
      - if @filterable
        %p.loading.position-absolute.d-none
          = t("loading")

      = body
