.p-0.modal.fade{id: "#{@component}sModal", "data-backdrop": "static", "aria-hidden" => "true", "aria-labelledby" => "#{@component}sModal", :role => "dialog", :tabindex => "-1" }
  .modal-dialog.modal-dialog-centered{:role => "document"}
    .modal-content
      .modal-header
        .location-title
          %h5.modal-title
            = t("welcomes.#{@component}s")
          %small.help-text
            = "(#{t("welcomes.multi_#{@component}s")})"
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button", role: "button", value: "dismiss"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        .position-relative
          = select_input
      .modal-footer
        %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button", role: "button", value: "canceled"}
          = t("shared.cancel")
        %button.btn.btn-primary{class: "btn-#{@component}-save", :type => "button", role: "button", value: "saved"}
          = t("shared.save")