.col-xl-3.col-md-6.mb-4
  .card.shadow.h-100.py-2{ class: "border-left-#{@style}"}
    = config
    .card-body.py-0.d-flex.align-items-center
      .row.no-gutters.align-items-center.flex-grow-1{ style: "z-index: 99;" }
        .col.mr-2
          .text-xs.font-weight-bold.text-uppercase.mb-1{ class: "text-#{@style}"}
            = title
          .mb-0.font-weight-bold.text-gray-800{ class: helpers.toggle_class_name("h4", desc.blank?) }
            = @count
          = desc
      .col-auto.showcase-icon
        %i.fas.fa-3x.text-gray-300{ class: fa_icon }
