.col-sm-6.col-lg-4.col-xl-3.card.mb-3.px-0
  .card-body
    .mb-4.card-title.d-flex.align-items-center
      = image_tag "#{template.human_name}.svg", class: "mr-2", width: 27

      %h6.mb-0.platform-name
        = template.human_name.capitalize

    - if template.image.attached?
      - dimension = ActiveStorage::Analyzer::ImageAnalyzer.new(template.image).metadata
      .image-wrapper.mb-2{ class: (dimension[:width] > dimension[:height] ? 'crop-width' : 'crop-height') }
        = image_tag url_for(template.image)

    - if template.audio.attached?
      = audio_tag rails_blob_url(template.audio), controls: true, class: "d-block audio-player-preview"

    .truncate-content
      = template.content

  .card-footer
    - if template.type == 'MessengerTemplate'
      = link_to '#', class: 'btn btn-circle btn-sm btn-info mr-1', data: { toggle: "modal", target: "#previewModal#{template.id}" } do
        %i.fas.fa-eye

      = render 'proview_modal', template: template

    = link_to edit_template_path(template), remote: true, class: "btn btn-circle btn-sm btn-warning mr-1" do
      %i.fas.fa-edit.fa-fw
    
    = link_to "#", data: { target: "#confirmModal#{template.id}", toggle: "modal" }, class: "btn btn-circle btn-sm btn-danger" do
      %i.fas.fa-fw.fa-trash

    = render "shared/confirm_destroy", item_id: template.id, destroy_url: template_path(template)
