.col-sm-6.col-md-3.card.mb-3.px-0
  .card-body
    %h5.mb-4.card-title
      = image_tag template.platform_name, size: "32x32"
      = template.platform_name.humanize
    - if template.audio.attached?
      = audio_tag rails_blob_url(template.audio), controls: true, class: "d-block mb-3 audio-player-preview"
    %p= template.content
  .card-footer
    = link_to edit_template_path(template), class: "btn btn-sm btn-outline-secondary mr-1" do
      = fa_icon "pencil"
    = link_to template_path(template), method: :delete, "data-confirm": t("deleted.confirm"), class: "btn btn-sm btn-outline-danger" do
      = fa_icon "times"