.col-sm-6.col-md-3.card.mb-3.px-0
  .card-body
    .mb-4.card-title.d-flex.align-items-center
      = image_tag "#{template.human_name}.svg", class: "mr-2", width: 27

      %h6.mb-0.platform-name
        = template.human_name.capitalize
    - if template.audio.attached?
      = audio_tag rails_blob_url(template.audio), controls: true, class: "d-block mb-3 audio-player-preview"
    %p= template.content
  .card-footer
    = link_to edit_template_path(template), remote: true, class: "btn btn-circle btn-small btn-warning mr-1" do
      %i.fas.fa-fw.fa-pen
    = link_to template_path(template), method: :delete, "data-confirm": t("deleted.confirm"), class: "btn btn-circle btn-small btn-danger" do
      %i.fas.fa-fw.fa-trash
