.d-sm-flex.align-items-center
  = render "shared/sb-admin/page_heading", title: t(".title")
  .flex-grow-1
  = link_to "#", class: "btn btn-primary m-0 btn-sm", data: { toggle: "modal", target: "#newTemplateModal" } do
    %i.fa.fa-fw.fa-plus
    = t(".new")
  = render "modal"

= render "templates", collection: :incomplete
= render "templates", collection: :completed
= render "templates", collection: :incorrect
