#form-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      = simple_form_for @setting, url: site_setting_path(@site) do |f|
        .modal-header
          %h5#exampleModalLabel.modal-title= t('sites.telegram_notification')
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×

        .modal-body
          .d-flex
            %label.flex-grow-1= t('site_setting.enable_notification')
            = f.input :enable_notification, label: false, input_html: { id: 'toggle-notification' }

          = f.input :message_frequency, collection: SiteSetting.message_frequencies, selected: @setting.message_frequency_before_type_cast.to_s, :label_method => lambda { |obj| "#{obj[0].titlecase}" }

          = f.input :message_template, wrapper_html: { class: "mb-1"}
          .mb-3.site_setting_message_template
            - @setting.message_variables.each do |variable|
              %small.d-inline-flex.form-text.text-muted.message-setting-variable.pointer= variable

          = f.input :digest_message_template, wrapper_html: { class: "mb-1"}
          .mb-3.site_setting_digest_message_template
            - @setting.digest_message_variables.each do |variable|
              %small.d-inline-flex.form-text.text-muted.digest-message-setting-variable.pointer= variable

          .form-group
            = hidden_field_tag "site_setting[telegram_chat_group_ids][]", nil
            %label= t('site_setting.chat_group')

            - @chat_groups.each_with_index do |chat_group, index|
              .form-check.ml-2
                = check_box_tag "site_setting[telegram_chat_group_ids][]", chat_group.id, @setting.telegram_chat_group_ids.include?(chat_group.id), class: 'form-check-input', id: dom_id(chat_group)
                %label.form-check-label{for: dom_id(chat_group), class: ('line-through' unless chat_group.is_active)}= chat_group.title

        .modal-footer
          %button.btn.btn-secondary{"data-dismiss" => "modal", type: "button"}= t("shared.cancel")
          = f.submit t("shared.save"), class: "btn btn-primary"

