.card
  .card-body
    = simple_form_for @setting, url: site_setting_path(@site) do |f|
      = f.input :enable_notification
      -# = f.custom_boolean_switch :enable_notification
      = f.input :message_template, wrapper_html: { class: "mb-1"}
      .mb-3
        - @setting.message_variables.each do |variable|
          %span.message-setting-variable= variable

      = f.input :digest_message_template, wrapper_html: { class: "mb-1"}
      .mb-3
        - @setting.digest_message_variables.each do |variable|
          %span.digest-message-setting-variable= variable

      -# = f.fields_for :site_settings_telegram_chat_groups, wrapper_html: { class: "form-group" } do |ff|
      -#   = ff.collection_select :telegram_chat_group_id, TelegramChatGroup.all, :id, :title, { label: "Telegram Group", include_blank: false }, { :multiple => "multiple", class: ['form-control selectpicker'] }
      -# = f.collection_select "telegram_chat_group_ids", TelegramChatGroup.all, :id, :title, { label: "Telegram Group", include_blank: false }, { :multiple => "multiple", class: ['form-control selectpicker'] }
      -# = f.collection_select :telegram_chat_group_ids, TelegramChatGroup.all, :id, :title, { label: "Telegram Group", include_blank: false }, { :multiple => "multiple", class: ['form-control selectpicker', ('is-invalid')] }

      -# = f.association :site_settings_telegram_chat_groups, collection: TelegramChatGroup.all, input_html: { class: 'form-control' }, label_html: { class: 'form-label' }

      -# = f.input :message_frequency, as: :radio_buttons, collection: SiteSetting.message_frequencies.keys

      .form-group
        %label= t('milestone.chat_group')
        - setting_chat_groups = @setting.site_settings_telegram_chat_groups
        - TelegramChatGroup.all.each_with_index do |chat_group, index|
          .form-check
            = check_box_tag "site_setting[site_settings_telegram_chat_groups_attributes][#{index}][telegram_chat_group_id]", chat_group.id, setting_chat_groups.collect(&:telegram_chat_group_id).include?(chat_group.id), class: 'form-check-input', id: dom_id(chat_group)
            %label.form-check-label{for: dom_id(chat_group)}= chat_group.title

      .actions
        = f.submit t("shared.save"), class: "btn btn-primary"
        = link_to t("shared.cancel"), site_setting_path(@site), class: "btn btn-secondary"