%ol.breadcrumb
  %li.breadcrumb-item
    = link_to t("sidebar.sites"), sites_path
  %li.breadcrumb-item
    = link_to @site.name_km, site_path(@site)
  %li.breadcrumb-item.active
    = t('sites.telegram_notification')

= render "shared/sb-admin/page_heading", title: t("settings.telegram_notification")

- if @setting.present? && @setting.persisted?
  .card
    .card-body.telegram-card-body
      .row.mb-3
        .col-md-3= "#{t('site_setting.enable_notification')}:"
        .col-md-8
          - if @setting.enable_notification?
            %span.text-primary= t('site_setting.enable')
          - else
            %span.text-danger= t('site_setting.disable')

      .row.mb-3
        .col-md-3= "#{t('site_setting.message_frequency')}:"
        .col-md-8= @setting.message_frequency.titlecase

      - if @setting.immediately?
        .row.mb-3
          .col-md-3= "#{t('site_setting.message_template')}:"
          .col-md-8= @setting.message_template.presence || '-'
      - else
        .row.mb-3
          .col-md-3= "#{t('site_setting.digest_message_template')}:"
          .col-md-8= @setting.digest_message_template.presence || '-'

      .row.mb-3
        .col-md-3= "#{t('site_setting.chat_group')}:"
        .col-md-8= chat_groups_html(@setting).html_safe

      %button.btn.btn-outline-primary.mt-3{"data-target" => "#form-modal", "data-toggle" => "modal", :type => "button"}
        = t("site_setting.edit_setting")

- else
  .card.card-inactive
    .card-body.text-center
      %h4= t('site_setting.no_site_setting_yet')
      %p.text-description= t('site_setting.create_site_setting_description')

      - if TelegramBot.actived.first.present?
        %button.btn.btn-primary.mt-3{"data-target" => "#form-modal", "data-toggle" => "modal", :type => "button"}
          = t("sites.create_setting")
      - else
        = t('site_setting.to_enable_telegram_html', url: settings_path)

= render 'form_modal'
