%ol.breadcrumb
  %li.breadcrumb-item
    = link_to 'Sites', sites_path
  %li.breadcrumb-item.active
    Notification Setting

= render "shared/sb-admin/page_heading", title: "Notification Setting"

- if @setting.present? && @setting.persisted?
  .card
    .card-header.py-3
      %h6.m-0.font-weight-bold.text-primary= t('settings.telegram_push_notification')

    .card-body.telegram-card-body
      .row.mb-3
        .col-md-3= "#{t('site_setting.enable_notification')}:"
        .col-md-8
          - if @setting.enable_notification?
            %span.text-primary= t('site_setting.enable')
          - else
            %span.text-danger= t('site_setting.disable')

      .row.mb-3
        .col-md-3= "#{t('site_setting.message_frequency')}:"
        .col-md-8= @setting.message_frequency.titlecase

      - if @setting.immediately?
        .row.mb-3
          .col-md-3= "#{t('site_setting.message_template')}:"
          .col-md-8= @setting.message_template.presence || '-'
      - else
        .row.mb-3
          .col-md-3= "#{t('site_setting.digest_message_template')}:"
          .col-md-8= @setting.digest_message_template.presence || '-'

      .row.mb-3
        .col-md-3= "#{t('site_setting.chat_group')}:"
        .col-md-8= @setting.telegram_chat_groups.pluck(:title).join(", ").presence || '-'

      %button.btn.btn-outline-primary.mt-3{"data-target" => "#form-modal", "data-toggle" => "modal", :type => "button"}
        = t("site_setting.edit_setting")

- else
  .card.card-inactive
    .card-body.text-center
      %h4= t('site_setting.no_site_setting_yet')
      %p.text-description= t('site_setting.create_site_setting_description')
      %button.btn.btn-primary.mt-3{"data-target" => "#form-modal", "data-toggle" => "modal", :type => "button"}
        = t("sites.create_setting")

= render 'form_modal'
