%h4.mb-3 Create new user

= simple_form_for @user do |f|
  .row
    .col-md-3
      #role-component
  = f.label :status, class: "mb-0 mt-3"
  = f.input :status, as: :boolean, label: 'Enable', wrapper_html: { class: "mb-3" }
  = f.input :email
  = f.input :password
  = f.input :password_confirmation
  = f.submit "Create user", class: "btn btn-primary"

= javascript_pack_tag 'user_roles'