%tr
  %td= @pagy.from + user_counter
  %td= user.email
  %td
    - if user.role_name.present?
      = role_html(user.role_name).html_safe
    - else
      = "-"
  %td
    %span.badge{class: (user.actived? ? 'badge-info' : 'badge-danger')}
      = user.actived? ? 'Actived' : 'Inactived'

  %td
    - if policy(user).update?
      %ul.list-inline.mb-0
        %li.list-inline-item
          = link_to user_path(user), class: "btn-circle btn-sm btn-warning text-decoration-none", data: { toggle: "modal", target: "#userModal#{user.id}" } do
            %i.fas.fa-edit.fa-fw
          = render "user-form-modal", user: user
        %li.list-inline-item
          = link_to "#", data: { target: "#confirmModal#{user.id}", toggle: "modal" }, class: "btn btn-circle btn-sm btn-danger text-decoration-none" do
            %i.fas.fa-trash.fa-fw
          = render "shared/confirm_destroy", item_id: user.id, destroy_url: user_path(user)
