= render partial: "shared/page_header", locals: { title: t(".users"), link: nil }

%table.table
  %tr
    %th= t(".no")
    %th= t(".email")
    %th= t(".role")
    %th= t(".status")
    %th{colspan: 2}= t(".action")
  = render @users
