= render "shared/sb-admin/page_heading", title: t(".users")

.card.shadow.mb-4
  .card-body
    .mb-4
      = render(SearchFormComponent.new(placeholder: t('users.type_email'), url: users_path))

    .table-responsive
      %table.table.table-bordered
        %thead
          %tr
            %th= t(".no")
            %th= t(".email")
            %th= t(".role")
            %th= t(".status")
            %th= t(".action")
        %tbody
          = render @users

    - if @pagy.pages > 1
      != render partial: 'shared/pagy/bootstrap_nav', locals: {pagy: @pagy}
