= render "shared/sb-admin/page_heading", title: "Schedules"

.card.shadow.mb-4
  .card-body
    .mb-4
      = link_to "Create new schedule", new_schedule_path, class: "btn btn-primary"

    #table.table-responsive
      %table.table
        %thead
          %tr
            %th{:scope => "col"} #
            %th{:scope => "col"} name
            %th{:scope => "col"} cron
            %th{:scope => "col"} &nbsp;
        %tbody
          - @schedules.each_with_index do |schedule, index|
            %tr
              %th{:scope => "row"}= index + 1
              %td= schedule.name
              %td= schedule.cron
              %td
                = link_to 'edit', edit_schedule_path(schedule)
                = link_to 'delete', schedule_path(schedule), method: :delete, 'data-confirm': 'are you sure?'
