%ol.breadcrumb
  %li.breadcrumb-item
    = link_to 'Sites', sites_path
  %li.breadcrumb-item
    = link_to @site.name, site_path(@site)
  %li.breadcrumb-item.active
    = t('sites.api_key')

= render "shared/sb-admin/page_heading", title: t('sites.api_key')

- if @site.token.present?
  .card
    .card-header.py-3
      %h6.m-0.font-weight-bold.text-primary= t('sites.api_key')

    .card-body.telegram-card-body
      .row.mb-3
        .col-md-3= "#{t('sites.access_token')} :"
        .col-md-8= @site.token

      = simple_form_for @site, url: site_api_key_path(@site) do |f|
        = f.submit t('sites.regenerate_api_key'), class: "btn btn-outline-primary mt-3", data: { confirm: t('sites.are_you_sure_to_regenerate_api') }

- else
  .card.card-inactive
    .card-body.text-center
      %h4= t('sites.no_data')
      %p.text-descriptiont= t('sites.create_api_key_description')
      = simple_form_for @site, url: site_api_key_path(@site) do |f|
        = f.submit t('sites.generate_api_key'), class: "btn btn-primary mt-3"
