.modal.fade{ id: "confirmModal#{ local_assigns[:item_id] }", "aria-labelledby": "exampleModalLabel", "aria-modal": "true", role: "dialog", tabindex: "-1" }
  .modal-dialog.modal-dialog-centered{ role: "document" }
    .modal-content
      .modal-header
        %h5#exampleModalLabel.modal-title
          = t("delete")
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body= t("deleted.confirm")
      .modal-footer
        %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"}= t("shared.cancel")
        = link_to t("delete"), local_assigns[:destroy_url], method: :delete, class: "btn btn-danger"