%nav#sidebar
  #sidebarCollapse.sidebar-header
    %h3= 'OWSO'.upcase

    %strong= 'OW<br/>SO'.html_safe
    = fa_icon 'align-left', class: 'toggle-align'

  %ul.list-unstyled.components
    %li
      = link_to root_path do
        = fa_icon 'home'
        = t('sidebar.home')
    %li
      = link_to sites_path do
        = fa_icon 'sitemap'
        = t('sidebar.sites')
    %li
      = link_to dictionaries_path do
        = fa_icon 'book'
        = t('sidebar.dictionary')
    %li
      = link_to reports_path do
        = fa_icon 'line-chart'
        = t('sidebar.report')
    %li
      = link_to '#', method: :delete do
        = fa_icon 'sign-out'
        = t('sidebar.logout')

  .copyright
    Developed by 2020 InSTEDD
