%nav#sidebar
  #sidebarCollapse.sidebar-header
    %h3= 'one window service office'.titleize

    %strong EOC
    %i.fas.fa-align-left

  %ul.list-unstyled.components
    %li
      = link_to '#' do
        %i.fas.fa-home
        = t('sidebar.home')
    %li
      = link_to '#' do
        %i.fas.fa-file-import
        = t('sidebar.import_wizard')
    %li
      = link_to '#', method: :delete do
        %i.fas.fa-key
        = t('sidebar.logout')

  .copyright
    Developed by 2020 InSTEDD
