%tr
  %td.border-right-0.border-bottom-0
    = link_to "#collapse#{index}", type: "button", data: { toggle: "collapse" }, class: "collapsed btn-collapse btn btn-outline btn-sm mr-3" do
      %i.fas.fa-angle-right
    = image_tag "#{message.platform_name.downcase}.svg", width: 18
    = message.session_id
  %td.border-left-0.border-bottom-0
    - result = []
    - message.step_values.most_recent.each do |step|
      - result << step.variable_value.mapping_value
    = result.join(", ")
  %td.border-left-0.border-right-0.border-bottom-0
    = display_datetime(message.last_interaction_at)

%tr
  %td.p-0.border-top-0{ colspan: 3 }
    .p-3.collapse{ id: "collapse#{index}" }
      .ml-5
        %table.table.table-sm
          %tr
            %th.border-0= t("dictionary")
            %th.border-0= t("dictionary_value")
            %th.border-0= t("updated_at")
          - message.step_values.most_recent.each do |step|
            %tr
              %td.border-0.w-15.break-all
                = step.variable.name
              %td.border-0.w-15.break-all
                = step.variable_value.mapping_value
              %td.border-0
                = display_datetime(step.variable_value.updated_at, :short)
