- step_values = session.step_values.order(updated_at: :desc)

%tr
  %td.border-right-0.border-bottom-0
    .session.nowrap-space
      = link_to "#collapse#{index}", type: "button", data: { toggle: "collapse" }, class: "collapsed btn-collapse btn btn-outline btn-sm mr-3" do
        %i.fas.fa-angle-right
      = image_tag "#{session.platform_name.downcase}.svg", width: 18
      - if session.repeated?
        %span{ data: { toggle: "tooltip" }, title: t("repeated")}
          .fa.fa-redo.fa-sm
      = session.mask_session_id
  %td.border-left-0.border-bottom-0
    - result = []
    - step_values.order(:id).each do |step|
      - result << render_from_string(step.variable_value.mapping_value)
    = result.compact.join(", ").html_safe
  %td.border-left-0.border-right-0.border-bottom-0
    %span.timeago{ "data-full-datetime": display_datetime(session.last_interaction_at) }
      = time_ago_in_words(session.last_interaction_at)

%tr
  %td.p-0.border-top-0{ colspan: 3 }
    .p-3.collapse{ id: "collapse#{index}" }
      .ml-5
        %table.table.table-sm
          %tr
            %th.border-0= t("dictionary")
            %th.border-0= t("dictionary_value")
            %th.border-0= t("updated_at")
          - step_values.order(:id).each do |step|
            %tr
              %td.border-0.w-15.break-all
                = step.variable.name
              %td.border-0.w-15.break-all
                %span{ data: { toggle: "tooltip" }, title: step.variable_value&.hint }
                  = render_from_string step.variable_value&.mapping_value
              %td.border-0
                %span.timeago{ "data-full-datetime": display_datetime(step.updated_at) }
                  = time_ago_in_words(step.updated_at)
