= render "shared/sb-admin/page_heading", title: "Home"

.card.shadow.mb-4
  .card-header.py-3
    %h6.m-0.font-weight-bold.text-primary All messages
  .card-body
    .row.my-4
      .col-lg-4
        .d-flex.align-items-center
          %span.mr-2 Search:
          %input.form-control.form-control-sm
    .table-responsive
      %table#dataTable.table.table-bordered{:cellspacing => "0", :width => "100%"}
        %thead
          %tr
            %th Session ID
            %th Type
            - current_user.role.variables.each do |variable|
              %th= variable.name
        %tbody
          - @messages.each do |message|
            %tr
              %td= message.session_id
              %td= message.type
              - message.steps.each do |step|
                %td= step.value.display_value

!= render partial: 'shared/pagy/bootstrap_nav', locals: {pagy: @pagy}
