= render "shared/sb-admin/page_heading", title: t(".title")

.card.shadow.mb-4
  .card-body
    %p
      = t("paginate_info_html", name: t(".messages"), items_count: @pagy.items, collection_count: @collection.count)
    = simple_form_for :q, method: :get do
      .date-filter.d-flex.align-items-center.mb-3.justify-content-end
        .date-filter__label
          %span.mr-2
            =t("dashboard.show")
        .date-filter__choose-option
          .input-group
            %input.datepicker_date{:name => "daterange", :value => "#{@date_range}"}
            .input-group-append
              .input-group-text
                %i.fas.fa-calendar-week.fa-sm

    .table-responsive
      %table#dataTable.table.table-bordered{:cellspacing => "0", :width => "100%"}
        %thead
          %tr
            %th #
            %th= t(".session_id")
            %th= t(".created_date")
            - @variables.each do |variable|
              %th= variable.name
        %tbody
          - @messages.each_with_index do |message, index|
            %tr
              %td= index + 1
              %td
                = image_tag "#{message.platform_name.downcase}.svg", width: 18
                = message.session_id
              %td= message.created_at.strftime("%d-%m-%y %H:%M")
              - @variables.each do |variable|
                - value = ''
                - message.step_values.most_recent.each do |step|
                  - if step.variable.name == variable.name
                    - value = step.variable_value.mapping_value
                    - break
                %td=value

    - if @pagy.pages > 1
      != render partial: 'shared/pagy/bootstrap_nav', locals: {pagy: @pagy}
