= render "shared/sb-admin/page_heading", title: t(".title")

.card.shadow.mb-4
  .card-body
    .table-responsive
      %table#dataTable.table.table-bordered{:cellspacing => "0", :width => "100%"}
        %thead
          %tr
            %th= t(".session_id")
            %th= t(".created_date")
            - current_user.role_variable_names.each do |variable_name|
              %th= variable_name
        %tbody
          - @messages.each do |message|
            %tr
              %td
                = image_tag "#{message.platform_name.downcase}.svg", width: 18
                = message.session_id
              %td= message.created_at.strftime("%Y-%m-%d")
              - current_user.role_variable_names.each do |variable_name|
                - value = ''
                - message.steps.each do |step|
                  - if step.value.variable.name == variable_name
                    - value = step.value.display_value
                    - break
                %td=value

    != render partial: 'shared/pagy/bootstrap_nav', locals: {pagy: @pagy}
