= render "page_heading", title: t(".title")

.card.shadow.mb-4
  .card-body
    = render "dashboard/filter_options"

    .d-flex.justify-content-between
      %p
        = t("paginate_info_html", name: t(".sessions"), items_range: pagy_range, collection_count: @collection.count)

    .table-responsive
      %table#dataTable.table{:cellspacing => "0", :width => "100%"}
        %thead
          %tr
            %th
              = t(".session_id")
            %th
              = t(".source")
            %th.nowrap-space
              = t(".last_interaction_date")
        %tbody
          - @sessions.each_with_index do |session, index|
            = render partial: "session", object: session, locals: { index: index }

    - if @pagy.pages > 1
      != render partial: 'shared/pagy/bootstrap_nav', locals: {pagy: @pagy}
