= render "shared/sb-admin/page_heading", title: t(".title")

.card.shadow.mb-4
  .card-body
    .table-responsive
      %table#dataTable.table.table-bordered{:cellspacing => "0", :width => "100%"}
        %thead
          %tr
            %th= t(".session_id")
            %th= t(".created_date")
            - @variables.each do |variable|
              %th= variable.name
        %tbody
          - @messages.each do |message|
            %tr
              %td
                = image_tag "#{message.platform_name.downcase}.svg", width: 18
                = message.session_id
              %td= message.created_at.strftime("%d-%m-%y %H:%M")
              - @variables.each do |variable|
                - value = ''
                - message.step_values.most_recent.each do |step|
                  - if step.variable.name == variable.name
                    - value = step.variable_value.display_value
                    - break
                %td=value

    - if @pagy.pages > 1
      != render partial: 'shared/pagy/bootstrap_nav', locals: {pagy: @pagy}
