.card.mb-3
  .card-header
    = t('settings.telegram_bot')
  .card-body
    .row.mb-3
      .col-md-5= "#{t('settings.username')}:"
      .col-md-7.text-truncate= @telegram_bot.username.presence || '-'
    .row
      .col-md-5= "#{t('settings.token')}:"
      .col-md-7.text-truncate= @telegram_bot.token.presence || '-'

  .card-footer.text-muted
    = link_to '#', class: "btn-circle btn-sm btn-warning text-decoration-none", "data-target" => "#telegram-bot-modal", "data-toggle" => "modal" do
      %i.fas.fa-edit.fa-fw

= render 'telegram_bot_modal'
