.card.mt-3
  .card-header
    = t('settings.telegram_bot')
  .card-body
    = simple_form_for @telegram_bot, url: telegram_bot_settings_path, method: :put, class: 'setting' do |f|
      = f.input :username
      = f.input :token

      .actions
        = f.submit t('shared.save'), class: 'btn btn-primary'
        = f.button :button, t('shared.reset'), type: :reset, :class => 'btn btn-secondary'