.card.shadow.mb-4
  .card-body
    = simple_form_for @pdf_template do |f|
      = f.input :name
      = f.input :lang_code, label: t("pdf_templates.language_code"), collection: PdfTemplate::ALLOWED_LANGUAGE_CODES, label_method: lambda { |lang_code| t("pdf_templates.#{lang_code}") }, include_blank: false
      .form-group
        = f.label :content
        = f.input_field :content, as: :hidden, class: "pdf_template_content"
        #editor-container{ style: "height: 30rem; width: 100%; " }
          = raw @pdf_template.content

      .available-keys.mb-4
        - f.object.decorate.variables.each do |variable|
          %span.badge.badge-secondary= variable

      = f.submit t("pdf_templates.save"), class: "btn btn-primary"
      = link_to t("pdf_templates.cancel"), pdf_templates_path, class: "btn btn-secondary"
