%tr{ id: "tr_#{pdf_template.id}" }
  %td= pagy_item_index(pdf_template_counter)
  %td= pdf_template.name
  %td= t "pdf_templates.#{pdf_template.lang_code}"
  %td= display_datetime(pdf_template.created_at)
  %td
    = link_to edit_pdf_template_path(pdf_template), class: "btn btn-circle btn-sm btn-warning mr-1" do
      %i.fas.fa-pen

    = link_to pdf_template, class: "btn btn-circle btn-sm btn-danger", method: :delete, 'data-confirm': 'Are you sure?' do
      %i.fas.fa-trash