.d-sm-flex.align-items-center
  = render "shared/sb-admin/page_heading", title: t("pdf_templates.title")
  .flex-grow-1
  = link_to new_pdf_template_path, class: "btn btn-primary m-0" do
    %i.fa.fa-fw.fa-plus
    = t("pdf_templates.new")

.card.shadow.mb-4
  .card-body
    .mb-4
    .total-info.mb-2
      = t("paginate_info_html", name: t("pdf_templates.title"), items_range: pagy_range, collection_count: @pagy.count)
    .table-responsive
      %table#dataTable.table.w-100{:cellspacing => "0"}
        %thead
          %tr
            %th #
            %th= t('pdf_templates.name')
            %th= t('pdf_templates.lang_code')
            %th= t('pdf_templates.created_at')
            %th &nbsp;
        %tbody
          = render @pdf_templates

    - if @pagy.pages > 1
      != render partial: 'shared/pagy/bootstrap_nav', locals: {pagy: @pagy}
