%tr{ id: "tr_#{ticket.id}" }
  %td= pagy_item_index(ticket_counter)
  %td= ticket.code
  %td= ticket.tel
  %td= ticket.dist_gis
  %td.nowrap-space= ticket.sector
  %td= ticket.service_description
  %td= display_datetime(ticket.requested_date)
  %td= display_datetime(ticket.approved_date)
  %td= display_datetime(ticket.delivery_date)
  %td= status_html(ticket.status).html_safe
