%tr{ id: "tr_#{ticket.id}" }

  %td= ticket.code
  %td= status_html(ticket.status).html_safe
  %td= ticket.tel
  %td= ticket.dist_gis
  %td= ticket.service_description
  %td= display_datetime(ticket.requested_date)
  %td= display_datetime(ticket.approved_date)
  %td= display_datetime(ticket.delivery_date)
