%tr{ id: "tr_#{ticket.id}" }

  %td= ticket.code
  %td= ticket.status
  %td= ticket.tell
  %td= ticket.dist_gis
  %td= ticket.service_description
  %td= display_datetime(ticket.requested_date)
  %td= display_datetime(ticket.approval_date)
  %td= display_datetime(ticket.delivery_date)
