= render "shared/sb-admin/page_heading", title: t("tickets.title")

.card.shadow.mb-4
  .card-body
    .mb-4
      = render(SearchFormComponent.new(placeholder: t('tickets.type_ticket_code'), url: tickets_path))

    .total-info.mb-2
      = t("paginate_info_html", name: t("tickets.title"), items_range: pagy_range, collection_count: @pagy.count)
    .table-responsive
      %table#dataTable.table.table-bordered.w-100{:cellspacing => "0"}
        %thead
          %tr
            %th #
            %th= t('tickets.code')
            %th= t('tickets.tel')
            %th= t('tickets.district')
            %th= t('tickets.sector')
            %th= t('tickets.service_description')
            %th= t('tickets.requested_date')
            %th= t('tickets.approved_date')
            %th= t('tickets.delivery_date')
            %th= t('tickets.status')
        %tbody
          = render @tickets

    - if @pagy.pages > 1
      != render partial: 'shared/pagy/bootstrap_nav', locals: {pagy: @pagy}
