.card.shadow.mb-4
  .card-header.py-3
    %h6.m-0.font-weight-bold.text-primary All tickets list
  .card-body
    .my-4
      .d-flex.align-items-center.justify-content-between
        = render 'filter'

    .table-responsive
      %table#dataTable.table.table-bordered.w-100{:cellspacing => "0"}
        %thead
          %tr
            %th= t('tickets.code')
            %th= t('tickets.status')
            %th= t('tickets.tell')
            %th= t('tickets.district')
            %th= t('tickets.service_description')
            %th= t('tickets.requested_date')
            %th= t('tickets.approved_date')
            %th= t('tickets.delivery_date')
        %tbody
          = render @tickets

- if @pagy.page > 1
  != render partial: 'shared/pagy/bootstrap_nav', locals: {pagy: @pagy}
