= render(SelectComponent.new(value: Variable::FEEDBACK, name: "variable[mark_as]", checked: @variable.feedback?, disabled: (@feedback && @feedback&.id != @variable.id))) do
  %i.fa.fa-star-half-alt.fa-lg
  %p.status-text.m-0= t("dictionaries.feedback")

= render(SelectComponent.new(value: "location", name: "variable[mark_as]", checked: @variable.location?, disabled: (@location && @location&.id != @variable.id))) do
  %i.fa.fa-map-marker-alt.fa-lg
  %p.status-text.m-0= t("dictionaries.site_location")

= render(SelectComponent.new(value: "ticket_tracking", name: "variable[mark_as]", checked: @variable.ticket_tracking?, disabled: (@ticket_tracking && @ticket_tracking&.id != @variable.id))) do
  %i.fa.fa-ticket-alt.fa-lg
  %p.status-text.m-0= t("dictionaries.ticket_tracking")

= render(SelectComponent.new(value: "gender", name: "variable[mark_as]", checked: @variable.gender?, disabled: (@gender && @gender&.id != @variable.id))) do
  %i.fa.fa-venus-mars.fa-lg
  %p.status-text.m-0= t("dictionaries.gender")