= render(MarkAsBlockOptionComponent.new(name: Variable::FEEDBACK, checked: @variable.feedback?, disabled: (@feedback && @feedback&.id != @variable.id), title: @feedback&.name)) do
  %i.fa.fa-star-half-alt.fa-lg
  %p.status-text.m-0= t("dictionaries.feedback")

= render(MarkAsBlockOptionComponent.new(name: "location", checked: @variable.location?, disabled: (@location && @location&.id != @variable.id), title: @location&.name)) do
  %i.fa.fa-map-marker-alt.fa-lg
  %p.status-text.m-0= t("dictionaries.site_location")

= render(MarkAsBlockOptionComponent.new(name: "ticket_tracking", checked: @variable.ticket_tracking?, disabled: (@ticket_tracking && @ticket_tracking&.id != @variable.id), title: @ticket_tracking&.name)) do
  %i.fa.fa-ticket-alt.fa-lg
  %p.status-text.m-0= t("dictionaries.ticket_tracking")

= render(MarkAsBlockOptionComponent.new(name: "gender", checked: @variable.gender?, disabled: (@gender && @gender&.id != @variable.id), title: @gender&.name)) do
  %i.fa.fa-venus-mars.fa-lg
  %p.status-text.m-0= t("dictionaries.gender")