%tr
  %td= pagy_item_index(dictionary_counter)
  %td= dictionary.name
  %td
    - dictionary.roles.each do |role|
      = role_html(role.name).html_safe

  %td
    - if dictionary.mark_as.present?
      %small= t("dictionaries.#{ dictionary.mark_as }")

  %td
    = display_datetime(dictionary.created_at)
  %td{ style: "padding: 10px 15px" }
    %ul.list-inline.m-0
      %li.list-inline-item
        = link_to edit_dictionary_path(dictionary), class: "btn-circle btn-edit btn-warning text-decoration-none btn-sm" do
          %i.fas.fa-edit.fa-fw
