%tr
  %td= dictionary.name
  %td
    - dictionary.roles.each do |role|
      = role.name
  %td= dictionary.report_enabled
  %td
    %ul.list-inline
      %li.list-inline-item 
        = link_to edit_dictionary_path(dictionary), class: "btn-circle btn-sm btn-warning text-decoration-none" do
          %i.fas.fa-edit.fa-fw
      %li.list-inline-item 
        = link_to dictionary_path(dictionary), class: "btn-circle btn-sm btn-danger text-decoration-none" do
          %i.fas.fa-trash.fa-fw
