= simple_form_for dictionary, url: dictionaries_path, remote: true do |f|
  .modal-header
    %h5#newDictionaryLabel.modal-title= t('dictionaries.new_dictionary')
    %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
      %span{"aria-hidden" => "true"} ×
  .modal-body
    = f.input :name, input_html: { name: "variable[name]" }, label: t('dictionaries.name')

    .form-group
      %p.font-weight-bold.mt-3
        = t('dictionaries.permission')

      .d-flex.mb-4
        = hidden_field_tag('variable[role_ids][]', nil)
        - @roles.each do |role|
          .d-flex.flex-column.align-items-center.mr-5{for: role.id}
            %label.mb-0{for: role.id}= role_icon(role.name).html_safe
            %label{for: role.id}= role.name.humanize
            %input{:type => "checkbox", :value => role.id, id: role.id, name: 'variable[role_ids][]', checked: dictionary.role_ids.include?(role.id)}

      %p.font-weight-bold.mt-3
        = t('dictionaries.mark_as')

      .block-option.d-flex.justify-content-around
        = render "block_options"

        %div.invalid-message
          = dictionary.errors.full_messages_for(:feedback).to_sentence
          = dictionary.errors.full_messages_for(:province).to_sentence
          = dictionary.errors.full_messages_for(:district).to_sentence

  .modal-footer
    %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"}= t('shared.cancel')
    = f.submit t('shared.save'), class: "btn btn-primary"
