= simple_form_for @variable, as: :variable, url: dictionary_path do |f|
  .d-sm-flex.align-items-center.justify-content-between.mb-4
    %h1.h3.mb-0.text-gray-800
      = @variable.name

  .card.shadow.mb-4
    .card-body
      .my-4
        .table-responsive
          %table.w-100.table{ cellspacing: 0 }
            %thead
              %tr
                %th= t('dictionaries.raw_value')
                %th= t('dictionaries.mapping_value_en')
                %th= t('dictionaries.mapping_value_km')
                %th= t('dictionaries.hint')
                %th.w-25.px-4
                  .td-satisfied{ class: toggle_class_name("invisible", !@variable.feedback?) }= t('dictionaries.satisfied')

                %th
            %tbody
              = f.simple_fields_for :values, @variable.values.reorder(:raw_value), include_id: false do |builder|
                = render "value_fields", f: builder

              %tr
                %td{ colspan: 6 }
                  - title = "<i class='fa fa-sm fa-plus-circle fa-fw'></i> Add pair"
                  = link_to_add_fields(title, f, :values)

        %h6.mt-4.permission-title= t('dictionaries.permission')
        .permission.mb-4
          = hidden_field_tag('variable[role_ids][]', nil)

          .block-option
            - @roles.each do |role|
              = render_component(SelectComponent.new(value: role.id, name: "variable[role_ids][]", input_type: "checkbox", checked: f.object.role_ids.include?(role.id))) do
                = role_icon(role.name).html_safe
                %p.status-text.m-0= t("roles.#{role.name}")
                %i.fa.fa-check-circle.fa-lg.check-sign

        %h6.mt-4.permission-title= t('dictionaries.mark_as')
        .form-group
          .block-option.my-4
            = hidden_field_tag('variable[mark_as]', nil)
            = render "block_options"

        .actions.d-flex.justify-content-end
          = link_to t('shared.cancel'), dictionaries_path, class: 'btn btn-secondary mr-2'
          = f.submit t('shared.save'), class: "btn btn-primary float-right"
