= simple_form_for @variable, as: :variable, url: dictionary_path do |f|
  .d-sm-flex.align-items-center.justify-content-between.mb-4
    %h1.h3.mb-0.text-gray-800
      = @variable.name

    .btn-group-toggle.text-right{ "data-toggle": "buttons" }
      %label.d-none.variable_report.btn.btn-success{ class: toggle_class_name("active", @variable.report?) }
        = f.input_field :mark_as, as: :boolean, checked: @variable.report?, name: "variable[report]", id: "variable_report", class: "variable-report-enabled"
        %span.report-label
          = @variable.report? ? t('dictionaries.unmark_as_feedback') : t('dictionaries.mark_as_feedback')
      %div.invalid-message
        %small= @variable.errors.full_messages_for(:report).to_sentence

  .card.shadow.mb-4
    .card-body
      .my-4
        .table-responsive
          %table.w-100.table{ cellspacing: 0 }
            %thead
              %tr
                %th= t('dictionaries.raw_value')
                %th= t('dictionaries.mapping_value_en')
                %th= t('dictionaries.mapping_value_km')
                %th= t('dictionaries.hint')
                %th.w-25.px-4
                  .td-satisfied{ class: toggle_class_name("invisible", !@variable.report?) }= t('dictionaries.satisfied')

                %th
            %tbody
              = f.simple_fields_for :values, @variable.values.reorder(:raw_value), include_id: false do |builder|
                = render "value_fields", f: builder

              %tr
                %td{ colspan: 6 }
                  - title = "<i class='fa fa-sm fa-plus-circle fa-fw'></i> Add pair"
                  = link_to_add_fields(title, f, :values)

        %h6.mt-4.permission-title= t('dictionaries.permission')
        .d-flex.mb-4
          = hidden_field_tag('variable[role_ids][]', nil)
          - @roles.each do |role|
            .d-flex.flex-column.align-items-center.mr-5{for: role.id}
              %label.mb-0{for: role.id}= role_icon(role.name).html_safe
              %label{for: role.id}= role.name.humanize
              %input{:type => "checkbox", :value => role.id, id: role.id, name: 'variable[role_ids][]', checked: f.object.role_ids.include?(role.id)}

        %h6.mt-4.permission-title= t('dictionaries.mark_as')
        .form-group
          .my-4
            = render(MarkAsBlockOptionComponent.new(name: "report", checked: @variable.report?, disabled: (@report && @report&.id != @variable.id), title: @report&.name)) do
              %i.fa.fa-star-half-alt.fa-lg
              %p.status-text.m-0= t("dictionaries.feedback")

            = render(MarkAsBlockOptionComponent.new(name: "location", checked: @variable.location?, disabled: (@location && @location&.id != @variable.id), title: @location&.name)) do
              %i.fa.fa-map-marker-alt.fa-lg
              %p.status-text.m-0= t("dictionaries.site_location")

            = render(MarkAsBlockOptionComponent.new(name: "ticket_tracking", checked: @variable.ticket_tracking?, disabled: (@ticket_tracking && @ticket_tracking&.id != @variable.id), title: @ticket_tracking&.name)) do
              %i.fa.fa-ticket-alt.fa-lg
              %p.status-text.m-0= t("dictionaries.ticket_tracking")

        .actions.d-flex.justify-content-end
          = link_to t('shared.cancel'), dictionaries_path, class: 'btn btn-secondary mr-2'
          = f.submit t('shared.save'), class: "btn btn-primary float-right"
