= render "shared/page_header", title: t(".title"), link: link_to_new("dictionary")

.row
  .col-3
    = render "nav"
  
  .col-9
    #v-pills-tabContent.tab-content
      - @variables.each_with_index do |variable, index|
        .tab-pane.fade{ id: "v-pills-#{variable.name}", class: "#{toggle_class_name("active show", index.zero?)}" }
          = simple_form_for :dictionaries, url: batch_update_dictionaries_path, method: :put, html: { class: 'form-inline', "data-variable-id": variable.id }, remote: false do |f|
            .card.w-100
              .card-body
                - if current_user.system_admin?
                  = render "dictionaries_by_role", variable: variable # view data: limit view data base on role
                  = render "mark_dictionary_as_report_column", f: f, variable: variable

                %table.table{ class: "dict-item-#{variable.name}", "data-variable-id": variable.id }
                  %tr
                    %th= t(".raw")
                    %th= t(".mapping")
                    %th.text-center{ class: "satisfy-col#{variable.id} #{toggle_class_name("invisible", !variable.report_enabled?) }"}
                      = t(".satisfied")

                  - variable.values.each do |var_value|
                    %tr
                      %td
                        = f.input :id, as: :hidden, input_html: { value: variable.id, name: "variable_value[][variable_id]" }   
                        .input-group
                          .input-group-prepend
                            .input-group-text
                              = link_to fa_icon("times"), dictionary_value_path(variable, var_value), method: :delete, data: { disable_with: t(".wait"), confirm: t(".confirm") }, remote: true
                          = f.input_field :raw_value, value: var_value.raw_value, name: "variable_value[][raw_value]", id: "variable_value_#{var_value.id}", class: "form-control string required mr-sm-2", label: false, readonly: true
                      %td  
                        = f.input :mapping_value, input_html: { value: var_value.mapping_value, name: "variable_value[][mapping_value]", id: "variable_text_#{var_value.id}", class: "mr-sm-2" }, label: false
                      %td{ class: "satisfy-col#{variable.id} #{toggle_class_name('invisible', !variable.report_enabled?) }"}
                        .form-check.form-check-inline
                          %table.rating
                            %tr
                              %td= image_tag "disatisfied.png", size: "24x24"
                              %td= image_tag "normal.png", size: "24x24"
                              %td= image_tag "satisfied.png", size: "24x24"
                            %tr
                              %td= f.radio_button :status, 2, name: "variable_value[][status#{var_value.id}]", checked: var_value.disatisfied?
                              %td= f.radio_button :status, 0, name: "variable_value[][status#{var_value.id}]", checked: var_value.normal?
                              %td= f.radio_button :status, 1, name: "variable_value[][status#{var_value.id}]", checked: var_value.satisfied?
                              
                  %tr
                    %td{ colspan: 2 }
                      = link_to t(".add_pair"), "#", class: "btn btn-add", "data-name": variable.name
                    %td
                      = f.submit t("update"), class: "btn btn-primary pull-right"
.clearfix
