%h3 Dictionary

%div
  %ul.dict-list
    - @variables.select('name').distinct.each do |v|
      %li.dict-item{ 'data-name': v.name}
        = link_to v.name.titleize, '#'
        .arrow-shape.arrow-shape__top
        .arrow-shape.arrow-shape__bottom

  .result-map
    - @variables.select('name').distinct.each do |v|
      %table.table.d-none{ class: "dict-item-#{v.name}" }
        %tr
          %th Value
          %th Text
          %th Action
        - @variables.order(value: :asc).each do |sub|
          - if sub.name == v.name
            = simple_form_for sub, url: dictionary_path(sub), remote: true do |f|
              %tr
                %td= f.input :value, input_html: { id: "variable_value_#{sub.id}" }, readonly: true, label: false
                %td= f.input :text, input_html: { name: 'variable[text]', id: "variable_text_#{sub.id}" }, label: false
                %td= f.submit 'Update', class: 'btn btn-primary'

.clearfix
