= render "shared/page_header", title: "Dictionary", link: link_to_new('dictionary')

%div
  %ul.dict-list
    - @variables.select('name').distinct.each_with_index do |v, index|
      %li.dict-item{ 'data-name': v.name, class: toggle_class_name('active', index.zero?) }
        = link_to v.name.titleize, '#'
        .arrow-shape.arrow-shape__top
        .arrow-shape.arrow-shape__bottom

  .result-map
    - @variables.select('name').distinct.each_with_index do |v, index|
      = simple_form_for :dictionaries, url: batch_update_dictionaries_path, method: :put, html: { class: 'form-inline'}, remote: false do |f|
        %table.table{ class: "dict-item-#{v.name} #{ toggle_class_name('d-none', !index.zero?) }" }
          %tr
            %th Value
            %th Text
          - @variables.order(value: :asc).each do |sub|
            - if sub.name == v.name
              %tr
                %td
                  = f.input :id, as: :hidden, input_html: { value: sub.id, name: "variable[][id]" }
                  = f.input :value, input_html: { value: sub.value, name: "variable[][value]", id: "variable_value_#{sub.id}", class: 'mr-sm-2' }, readonly: true, label: false
                %td  
                  = f.input :text, input_html: { value: sub.text, name: "variable[][text]", id: "variable_text_#{sub.id}", class: 'mr-sm-2' }, label: false

          %tr
            %td{ colspan: 2}
              = f.submit "Update", class: "btn btn-primary pull-right"

.clearfix
