.card.shadow.mb-4
  .card-header.py-3
    %h6.subtitle.text-primary List of all dictionaries
  .card-body
    .my-4
      .d-flex.align-items-center.justify-content-between
        = render 'filter'

        .actions
          = link_to "#", class: "btn btn-primary btn-sm", data: { toggle: "modal", target: "#newDictionaryModal" } do
            %i.fas.fa-plus.fa-fw
            New Dictionary

          = render "create-new-dictionary-modal", dictionary: @variable

    .table-responsive
      %table#dataTable.table.table-bordered{:cellspacing => "0", :width => "100%"}
        %thead
          %tr
            %th Name
            %th Permission
            %th Mark as feedback
            %th Mark as location
            %th Action
        %tbody
          = render @variables

!= render partial: 'shared/pagy/bootstrap_nav', locals: {pagy: @pagy}
