= render "shared/sb-admin/page_heading", title: t(".dictionaries")

.card.shadow.mb-4
  .card-body
    .mb-4
      .d-flex.align-items-center.justify-content-between
        .d-flex.align-items-center
          = render 'shared/sb-admin/filter_search', placeholder: t('dictionaries.index.search_placeholder'), url: dictionaries_path

        .actions
          = link_to "#", class: "btn btn-primary btn-sm", data: { toggle: "modal", target: "#newDictionaryModal" } do
            %i.fas.fa-plus.fa-fw
            New Dictionary

          = render "create-new-dictionary-modal", dictionary: @variable

    .table-responsive
      %table#dataTable.table.table-bordered{:cellspacing => "0", :width => "100%"}
        %thead
          %tr
            %th Name
            %th Permission
            %th Mark as feedback
            %th Mark as location
            %th Action
        %tbody
          = render @variables

    != render partial: 'shared/pagy/bootstrap_nav', locals: {pagy: @pagy}
