= render "shared/sb-admin/page_heading", title: t(".title")

.card.shadow.mb-4
  .card-header.py-3
    %h6.m-0.font-weight-bold.text-primary All Dictionaries
  .card-body
    .my-4
      .d-flex.align-items-center.justify-content-between
        .d-flex.align-items-center
          %span.mr-2 Search:
          %input.form-control.form-control-sm

        .actions
          = link_to "#", class: "btn btn-primary", data: { toggle: "modal", target: "#newDictionaryModal" } do
            %i.fas.fa-plus.fa-fw
            New dictionary
          = render "create-new-dictionary-modal", dictionary: @variable
          
    .table-responsive
      %table#dataTable.table.table-bordered{:cellspacing => "0", :width => "100%"}
        %thead
          %tr
            %th Code
            %th Permission
            %th Satisfied
            %th Action
        %tbody
          = render @variables
            
!= render partial: 'shared/pagy/bootstrap_nav', locals: {pagy: @pagy}
