= render "shared/sb-admin/page_heading", title: "New ticket"

.row
  .col-md-4
    = simple_form_for @variable, url: dictionaries_path do |f|
      = f.input :report_enabled, input_html: { name: "variable[report_enabled]" }
      = f.input :type, as: :select, collection: { "BothVariable": "Both", "TextVariable": "Text", "VoiceVariable": "Voice" }, value_method: :first, label_method: :second, selected: 1, input_html: { name: "variable[type]" }
      = f.input :name, input_html: { name: "variable[name]" }
      = f.association :roles, as: :check_boxes, label_method: :name, value_method: :id, include_blank: false, include_hidden: false

      = f.submit t(".create"), class: "btn btn-primary"
