%tr
  %td= voice_message.CallSid
  %td
    = voice_message.f1.value
  %td
    = voice_message.f11.value
  %td
    = voice_message.f111.value
  %td
    = voice_message.f112.value
  %td
    = voice_message.f113.value
  %td
    = voice_message.f12.value
  %td
    = voice_message.f121.value
  %td
    = voice_message.f122.value
  %td
    = voice_message.f13.value
  %td
    = voice_message.f131.value
