<tr>
  <td><%= voice_message.CallSid %></td>
  <td>
    <%= voice_message.message.steps.f1.value %>
  </td>
  <td>
    <%= voice_message.message.steps.f11.value %>
  </td>
  <td>
    <%= voice_message.message.steps.f111.value %>
  </td>
<td>
    <%= voice_message.message.steps.f112.value %>
  </td>
<td>
    <%= voice_message.message.steps.f113.value %>
  </td>
  <td>
    <%= voice_message.message.steps.f12.value %>
  </td>
  <td>
    <%= voice_message.message.steps.f121.value %>
  </td>
<td>
    <%= voice_message.message.steps.f122.value %>
  </td>
<td>
    <%= voice_message.message.steps.f13.value %>
  </td>
<td>
    <%= voice_message.message.steps.f131.value %>
  </td>

</tr>

