#form-query.mb-3
  .container
    .row
      .col-12
        = simple_form_for :q, remote: true, method: :get, html: { class: "pt-3", role: "search" } do |f|
          .form-row
            .logo-inline.form-group.col-lg-3{ style: "display: none;" }
              .d-flex.align-items-center.justify-content-start.h-100.w-100
                = render "welcomes/logo"
            = f.input :province, as: :select, label: t("welcomes.province"), include_blank: false, include_hidden: false, collection: [["", t('dashboard.all_province')]], label_method: :second, value_method: :first, wrapper_html: { class: "col-lg-4 col-sm-12" }, input_html: { tabindex: 2, name: "province_code", id: "province", class: "w-100", data: { "pumi-select-collection-label-method": "name_en", "pumi-select-collection-url": "/pumi/provinces", "pumi-select-collection-value-method": "id", "pumi-select-populate-on-load": "true", "pumi-select-target": "district" } }
            .form-group.q_district.select.col-lg-4.col-sm-12
              = f.input :districts, as: :select, label: t("welcomes.districts"), collection: [], include_blank: false, include_hidden: false, input_html: { multiple: "multiple", tabindex: 3, id: "district", name: 'district_code[]', class: "w-100 district_code",data: { "pumi-select-collection-label-method": "name_en", "pumi-select-collection-url": "/pumi/districts?province_id=FILTER", "pumi-select-collection-url-filter-interpolation-key": "FILTER", "pumi-select-collection-value-method": "id", "pumi-pumi-select-disabled-classss": "my-disabled-class", "pumi-select-disabled-target": "#district", "pumi-select-id": "district" } }
            = f.input :start_date, as: :hidden, input_html: { class: "start_date", name: "start_date", value: @start_date }
            = f.input :end_date, as: :hidden, input_html: { class: "end_date",name: "end_date", value: @end_date }
            = f.input :time_period, wrapper_html: { class: "col-lg-3" }, label: t("welcomes.time_period"), input_html: { tabindex: 4, value: "#{@start_date} - #{@end_date}", class: "datepicker_date w-100" }
            .form-group.col-lg-1.d-flex.align-items-end.justify-content-end
              = f.submit t("welcomes.search"), class: "btn btn-primary", disabled: false, tabindex: 5, disabled: true, id: "btn-search"

    .mb-3
      .container
        .row
          .col-12
            .form-row
              = f.input_field :locale, as: :hidden, name: "locale", value: I18n.locale, role: "textbox"
              -# logo
              .logo-inline.form-group.col-lg-3{ style: "display: none;" }
                .d-flex.align-items-center.justify-content-start.h-100.w-100
                  = render partial: "welcomes/logo", locals: { tabindex: 3, id: "link-usaid-logo" }

              -# province
              = f.input_field :province, as: :hidden, name: "province_code", value: "02", role: "textbox"
              = f.input :province, as: :select, label: t("welcomes.province"), include_blank: false, include_hidden: false, collection: [], label_method: :second, value_method: :first, disabled: true, wrapper_html: { class: "col-lg-4 col-sm-12" }, input_html: { tabindex: 2, name: "province_code", id: "province", class: "w-100", role: "listbox", data: { "pumi-select-collection-label-method": @location_filter.field_name, "pumi-select-collection-url": "/provinces", "pumi-select-collection-value-method": "id", "pumi-select-populate-on-load": "true", "pumi-select-target": "district", "pumi-select-has-hidden-value": true } }

              .fake-control{"data-target" => "#exampleModal", "data-toggle" => "modal", :type => "button"}
                All
            -# .form-group.q_district.select.col-lg-4.col-sm-12
            -#   - district_codes = Array.wrap(params[:district_code]).select(&:present?).join(",")
            -#   = f.input_field :districts, as: :hidden, name: "district_code[]", value: district_codes
            -#   = f.input :districts, as: :select, label: t("welcomes.districts"), collection: [["", t('dashboard.all_district')]], include_blank: false, include_hidden: false, input_html: { multiple: "multiple", tabindex: 3, id: "district", name: 'district_code[]', class: "w-100 district_code position-relative", data: { "pumi-select-collection-label-method": "name_en", "pumi-select-collection-url": "/pumi/districts?province_id=FILTER", "pumi-select-collection-url-filter-interpolation-key": "FILTER", "pumi-select-collection-value-method": "id", "pumi-select-disabled-class": "my-disabled-class", "pumi-select-disabled-target": "#district", "pumi-select-id": "district", "pumi-select-has-hidden-value": true } }

              .form-group.string.required.q_time_period.col-lg-3
                %label.string.required
                  = t("welcomes.time_period")
                  %abbr{ title: t("required.string") } *

                .input-group.datepicker_date
                  = f.input_field :time_period, class: "form-control string required input-daterange", tabindex: 6, value: "#{@start_date} - #{@end_date}", name: "q[time_period]", id: "q_time_period", role: "textbox"
                  .input-group-append
                    .input-group-text
                      %i.fas.fa-calendar-alt.fa-sm
              -# tab
              = f.input :active_tab, as: :hidden, input_html: { role: "textbox" }

              -# submit
              .form-group.col-lg-1.d-flex.align-items-center.justify-content-end
                = f.button :button, t("welcomes.search"), class: "btn btn-primary secondary-branding-color", disabled: false, tabindex: 7, role: "button", id: "btn-search", value: "submitted", data: { disable_with: "<small>#{t("loading")}</small>" }

  -# modal
  #exampleModal.p-0.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1", "data-backdrop": "static" }
    .modal-dialog{:role => "document"}
      .modal-content
        .modal-header
          %h5#exampleModalLabel.modal-title Districts
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
        .modal-body
          .pb-3
            = f.input :districts, as: :select, label: t("welcomes.districts"), label_method: :second, value_method: :first, collection: [["", t('dashboard.all_district')]], include_blank: false, include_hidden: false, input_html: { multiple: "multiple", tabindex: 3, id: "district", name: 'district_code[]', class: "w-100 district_code position-relative", data: { "pumi-select-collection-label-method": "name_en", "pumi-select-collection-url": "/districts/index", "pumi-select-collection-url-filter-interpolation-key": "FILTER", "pumi-select-collection-value-method": "id", "pumi-select-disabled-class": "my-disabled-class", "pumi-select-disabled-target": "#district", "pumi-select-id": "district", "pumi-select-has-hidden-value": true } }
        .modal-footer
          %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Close
          %button.btn.btn-primary.btn-save{:type => "button"} Save changes