.dropdown.position-fixed.switch-lang
  %a#dropdownMenuLink.btn.btn-light.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button", tabindex: 2}
    = t("language.#{I18n.locale}")

  .dropdown-menu{"aria-labelledby" => "dropdownMenuLink"}
    = link_to url_for(request.query_parameters.merge(locale: 'km')), id: "link-km", name: "link_km", role: "link", tabindex: 3, class: 'dropdown-item' do
      = t('language.km')

    = link_to url_for(request.query_parameters.merge(locale: 'en')), id: "link-en", name: "link_en", role: "link", tabindex: 4,  class: 'dropdown-item' do
      = t('language.en')
