#tab
  .container
    #menuContent.tab-content.pt-5
      #summary.tab-pane.fade{"aria-labelledby" => "summary-tab", :role => "tabpanel", class: toggle_class_name("active show", (active_tab.blank? || active_tab == '#summary'))}
        = render "dashboard/earnings"

        .row
          .col-xl-6.col-lg-5
            = render "dashboard/total_user_visit"
          .col-xl-6.col-lg-5
            = render partial: "dashboard/total_user_feedback", locals: { title: t("welcomes.total_user_feedback") }
          
      #access-information.tab-pane.fade{"aria-labelledby" => "access-information-tab", :role => "tabpanel", class: toggle_class_name("active show", active_tab == '#access-information')}
        = render "dashboard/earnings"

        .row
          -# Information Access
          .col-xl-6.col-lg-5
            = render( ChartComponent.new(name: t("welcomes.most_requested_services")) ) do |c|
              - c.with(:body) { content_tag(:canvas, nil, id: "chart_most_requested_services") }

          .col-xl-6.col-lg-5
            = render( ChartComponent.new(name: t("welcomes.information_access_by_gender")) ) do |c|
              - c.with(:body) { content_tag(:canvas, nil, id: "chart_information_access_by_gender") }

          .col-xl-6.col-lg-5
            = render( ChartComponent.new(name: t("welcomes.information_access_by"), filterable: true) ) do |c|
              - c.with(:addon) do
                %select.form-control-sm.d-inline.period
                  %option{ value: "month" }= t("period.month")
                  %option{ value: "quarter" }= t("period.quarter")
              - c.with(:body) { content_tag(:canvas, nil, id: "chart_information_access_by_period") }

          .col-xl-6.col-lg-5
            = render( ChartComponent.new(name: t("welcomes.number_access_by_main_services")) ) do |c|
              - c.with(:body) { content_tag(:canvas, nil, id: "chart_number_access_by_main_services") }

          .col-xl-6.col-lg-5
            - name = t("welcomes.most_service_tracked_by_periodic", period: 'month')
            = render( ChartComponent.new(name: name) ) do |c|
              - c.with(:body) do
                %canvas#chart_most_service_tracked_periodically

          .col-xl-6.col-lg-5
            = render( ChartComponent.new(name: t("welcomes.ticket_tracking_by_gender")) ) do |c|
              - c.with(:body) { content_tag(:canvas, nil, id: "chart_ticket_tracking_by_gender") }

      #citizen-feedback.tab-pane.fade{"aria-labelledby" => "citizen-feedback-tab", :role => "tabpanel", class: toggle_class_name("active show", active_tab == '#citizen-feedback')}
        = render "dashboard/earnings"

        .row
          -# citizen feedback
          .col-xl-6.col-lg-5
            = render partial: "dashboard/gender", locals: { title: t("welcomes.feedback_by_gender") }

          .col-xl-6.col-lg-5
            = render partial: "dashboard/total_user_feedback", locals: { title: t("welcomes.overall_citizen_feedback") }

          .col-xl-6.col-lg-5
            = render( ChartComponent.new(name: t("welcomes.overall_rating_by_owso")) ) do |c|
              - c.with(:body) { content_tag(:canvas, nil, id: "chart_overall_rating_by_owso") }

          .col-xl-6.col-lg-5
            = render( ChartComponent.new(name: t("welcomes.owso_feedback_trend")) ) do |c|
              - c.with(:body) { content_tag(:canvas, nil, id: "chart_owso_feedback_trend") }

          -# feedback by sub category -> base on selected districts
          - @query.district_codes.each do |district_id|
            .col-xl-6.col-lg-5
              = render( ChartComponent.new(name: t("welcomes.feedback_by_sub_categories")) ) do |c|
                - c.with(:body) do
                  %canvas.w-75.chart_feedback_by_sub_category{ "data-id": district_id }
                  %p.label.m-0
      