= render "welcomes/sidebar"
= render "welcomes/article"
= render "welcomes/header"
= render "welcomes/form"

= render "welcomes/tabs/navigation"
.tabs-container

-# modal content
.sub_categories.d-none
  = render "welcomes/sub_categories_canvas"

= render "welcomes/footer"
= render "welcomes/popup_modal"
