= render "welcomes/article"
= render "welcomes/form"

.container
  %ul#myTab.nav.nav-tabs{:role => "tablist"}
    %li.nav-item
      %a#summary-tab.nav-link.active{"aria-controls" => "summary", "aria-selected" => "true", "data-toggle" => "tab", :href => "#summary", :role => "tab"} Summary
    %li.nav-item
      %a#access-information-tab.nav-link{"aria-controls" => "access-information", "aria-selected" => "false", "data-toggle" => "tab", :href => "#access-information", :role => "tab"} Access Information
    %li.nav-item
      %a#citizen-feedback-tab.nav-link{"aria-controls" => "citizen-feedback", "aria-selected" => "false", "data-toggle" => "tab", :href => "#citizen-feedback", :role => "tab"} Citizen Feedback
    %li.nav-item
      %a#about-us-tab.nav-link{"aria-controls" => "about-us", "aria-selected" => "false", "data-toggle" => "tab", :href => "#about-us", :role => "tab"} About Us
  #myTabContent.tab-content.pt-5
    #summary.tab-pane.fade.show.active{"aria-labelledby" => "summary-tab", :role => "tabpanel"}
      = render "dashboard/earnings"

      .row
        .col-xl-6.col-lg-5
          = render "dashboard/total_user_visit"
        .col-xl-6.col-lg-5
          = render "dashboard/total_user_feedback"
        
    #access-information.tab-pane.fade{"aria-labelledby" => "access-information-tab", :role => "tabpanel"}
      = render "dashboard/earnings"

      .row
        -# Information Access
        .col-xl-6.col-lg-5
          = render "welcomes/charts/most_requested_services"
        .col-xl-6.col-lg-5
          = render "dashboard/gender"
        .col-xl-6.col-lg-5
          = render "welcomes/charts/information_accessed_periodically"
        .col-xl-6.col-lg-5
          = render "welcomes/charts/number_access_by_main_services"
        .col-xl-6.col-lg-5
          = render "welcomes/charts/most_service_tracked_by_periodic"
        .col-xl-6.col-lg-5
          = render "welcomes/charts/ticket_tracking_by_gender"

    #citizen-feedback.tab-pane.fade{"aria-labelledby" => "citizen-feedback-tab", :role => "tabpanel"}
      = render "dashboard/earnings"

      .row
        -# citizen feedback
        .col-xl-6.col-lg-5
          = render "dashboard/gender"
        .col-xl-6.col-lg-5
          = render "dashboard/total_user_feedback"
        .col-xl-6.col-lg-5
          = render "welcomes/charts/overall_rating_by_owso"
        .col-xl-6.col-lg-5
          = render "welcomes/charts/owso_feedback_trend"
        -# feedback by sub category -> base on selected districts
        .col-xl-6.col-lg-5
          = render "welcomes/charts/feedback_by_sub_category"
        .col-xl-6.col-lg-5
          = render "welcomes/charts/feedback_by_sub_category"
    #about-us.tab-pane.fade{"aria-labelledby" => "about-us-tab", :role => "tabpanel"}
      = render "welcomes/about_us"

.container
  .row
    .col-12
      #root.mt-5
