= render "welcomes/sidebar"
= render "welcomes/article"
= render "welcomes/header"
= render "welcomes/form"
= render "welcomes/tabs/tabs"
= render "welcomes/footer"
= render "welcomes/popup_modal"

#sub_categories_modals
  %span THIS IS A CONTENT OF FEEDBACK SUBCATEGORIES

#feedback_trend_modals
  %span THIS IS A CONTENT OF FEEDBACK TREND
