.sidebar-left
  = social_share_button_tag "test"
  .visitor-counter.text-right
    %span.badge.badge-pill.badge-info{ data: { toggle: "tooltip" }, title: t("visitor_count") }
      %i.fa.fa-eye
      = Ahoy::Visit.count

= render "welcomes/article"
= render "welcomes/header"
= render "welcomes/form"
= render "welcomes/tabs/tabs"
= render "welcomes/footer"
= render "welcomes/popup_modal"

#sub_categories_modals
  <THIS IS A CONTENT OF FEEDBACK SUBCATEGORIES>
