= render "welcomes/sidebar"
= render "welcomes/article"
= render "welcomes/header"
= render "welcomes/form"

= render "welcomes/tabs/navigation"
.tabs-container

= render "welcomes/footer"

.xxx
-# = render partial: "dashboard/sub_categories_modals", collection: @query.province_codes_without_other, as: :province_id
-# = render "welcomes/popup_modal"
