= render "welcomes/sidebar"
= render "welcomes/article"
= render "welcomes/header"
= render "welcomes/form"

= render "welcomes/tabs/navigation"
.tabs-container

-# modal content
.sub_categories.d-none
  = render "welcomes/sub_categories_canvas"

#popup.p-0.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "popupModal", :role => "dialog", :tabindex => "-1" }
  .modal-dialog.modal-xl{:role => "document"}
    .modal-content
      .modal-header
        %h5.modal-title
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body{ "data-state": "prune" }
        = image_tag "pop-up-message.png", size: "1100x550", alt: "popup message", role: "img"
      .modal-footer
        %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button", role: "button", value: "canceled"}
          = t("shared.cancel")
