%h3 All contacts:
%table.table.table-striped
  %thead
    %tr
      %th{:scope => "col"} Session id
      %th{:scope => "col"} Type
      - @variables.each do |header|
        %th{:scope => "col"}= header.titleize

  %tbody
    - @messages.each do |message|
      %tr
        %td= message.session_id
        %td= message.type
        - @variables.each do |var|
          %td
            - message.steps.each do |step|
              = valueize(step.value) if var == step.act
!= pagy_bootstrap_nav(@pagy)
