
- if @messages.count.zero?
  %p there is no message
- else
  = render partial: "shared/page_header", locals: { title: "All messages", link: nil }

  %table.table.table-striped
    %thead
      %tr
        %th{:scope => "col"} Session id
        %th{:scope => "col"} Type
        - current_user.role.variables.each do |variable|
          %th{:scope => "col"}= variable.name

    %tbody
      - @messages.each do |message|
        %tr
          %td= message.session_id
          %td= message.type
          - current_user.role.variables.pluck(:name).each do |var_name|
            %td
              - message.steps.each do |step|
                = valueize(step.value) if var_name == step.act
  != pagy_bootstrap_nav(@pagy)
