= render "empty" if no_messages

= render partial: "shared/page_header", locals: { title: t(".all"), link: nil }

%table.table.table-striped
  %thead
    %tr
      %th{:scope => "col"}= t(".session_id")
      %th{:scope => "col"}= t(".type")
      - current_user.role.variables.each do |variable|
        %th{:scope => "col"}= variable.name

  %table.table.table-striped
    %thead
      %tr
        %td{align: "center"}= message.session_id
        %td{align: "center"}= message.platform_name
        - current_user.role.variables.pluck(:name).each do |var_name|
          %td{align: "center"}
            - message.steps.each do |step|
              = valueize(step.value.display_value) if var_name == step.value.variable_name
!= pagy_bootstrap_nav(@pagy)
