%tr
  %td= text_message.messenger_user_id
  %td
    = text_message.f1.value
  %td
    = text_message.f11.value
  %td
    = text_message.f111.value
  %td
    = text_message.f112.value
  %td
    = text_message.f113.value
  %td
    = text_message.f12.value
  %td
    = text_message.f121.value
  %td
    = text_message.f122.value
  %td
    = text_message.f13.value
  %td
    = text_message.f131.value
