= render( ChartComponent.new(name: title, filterable: true) ) do |c|
  - c.with(:subheader) do
    %span{ data: { toggle: "tooltip", title: described_name } }
      = show_location_detail
    &middot;
    = link_to t("sites.view_detail"), "#", id: "link-trend-detail", name: "link_trend_detail", role: "link", data: { toggle: "modal", target: ".feedback_trend_#{province_id}", provinceid: province_id, callback: "loadFeedbackTrend" }

  - c.with(:addon) do
    = render ChartAddonComponent.new(visibility:collection.blank?, path:"feedback-trend", formater: "feedbackTrend", canvasid: "chart_owso_feedback_trend_#{province_id}" )

  - c.with(:body) { content_tag(:canvas, nil, id: "chart_owso_feedback_trend_#{province_id}", class: "chart_owso_feedback_trend", "data-provinceid": province_id) }
  - c.with(:hint) { t("hint.owso_feedback_trend") }