= simple_form_for site, remote: true, html: {class: 'site-form'} do |f|
  .modal-header
    %h5#newSiteLabel.modal-title
      = t("sites.create_new")
    %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
      %span{"aria-hidden" => "true"} ×
  .modal-body
    = f.input :name
    = f.input :code
    = f.input :lat
    = f.input :lng
  .modal-footer
    %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"}
      = t("cancel")
    = f.submit t("save_changes"), class: "btn btn-primary"
