.d-flex.justify-content-between.mb-3
  %h3 Sites
  = link_to 'Create new', new_site_path, class: 'btn btn-primary'

%table.table
  %tr
    %th Name
    %th Code
    %th Tracks count
    %th Detail
    %th Action
    - @sites.each do |site|
      %tr
        %td= site.name
        %td= site.code
        %td= site.tracks_count
        %td= link_to fa_icon('arrow-right'), site_path(site)
        %td= link_to 'edit', edit_site_path(site)
