= render "shared/sb-admin/page_heading", title: t("sites.sites")

.card.shadow.mb-4
  .card-body
    .mb-4
      = render(SearchFormComponent.new(placeholder: t('sites.type_name_or_code'), url: sites_path)) do |c|
        = c.with(:action) { render "search_action" }

    .total-info.mb-2
      = t("paginate_info_html", name: t("sites.sites"), items_range: pagy_range, collection_count: @pagy.count)
      
    .custom-table.table.table-bordered
      .custom-row.thead
        %strong.custom-col.col-no #
        %strong.custom-col= t('sites.province')
        %strong.custom-col= t('sites.track_count')
        %strong.custom-col= t('sites.healthcheck')
        %strong.custom-col= t('sites.action')

      - @provinces.each_with_index do |province, index|
        .custom-row.accordion-toggle.pointer{"data-target" => "#row-#{index}", "data-toggle" => "collapse"}
          .custom-col.col-no
            = pagy_item_index(index)
          .custom-col.d-flex
            %span.flex-grow-1
              = province['id']
              &middot;
              = "<strong>#{province['name_km']}</strong> (#{province['sites_count']})".html_safe
            %span.btn-toggle
              %i.fas.fa-chevron-down
          .custom-col
          .custom-col
          .custom-col

        .custom-table.accordion-body.collapse{id: "row-#{index}", class: ('show' if params[:keyword].present?)}
          - province['sites'].each_with_index do |site, i|
            .custom-row
              .custom-col.col-no
              .custom-col.pl-4
                = site['code']
                &middot;
                = link_to site['name_km'], site_path(site['id']), class: 'btn btn-link p-0'
              .custom-col= site['tracks_count']
              .custom-col
                - if site.sync_status.present?
                  %span{ class: (site.sync_status == 'success' ? 'text-success' : 'text-danger') }= site.sync_status
                  - if site.sync_logs.present?
                    %span{ "data-content" => popover_html(site), "data-toggle" => "popover",  "data-html" => "true", "data-trigger" => "focus", :tabindex => "0", :title => t('sites.healthcheck_history') }
                      %i.fas.fa-info-circle
                - else
                  = '-'

              .custom-col
                %ul.list-inline.mb-0
                  %li.list-inline-item
                    = link_to site_api_key_path(site_id: site['id']), class: "btn-circle btn-sm btn-success text-decoration-none", data: {toggle: 'tooltip', title: t('sites.api_key')} do
                      %i.fas.fa-key

                  %li.list-inline-item
                    = link_to site_setting_path(site_id: site['id']), class: "btn-circle btn-sm btn-success text-decoration-none", data: {toggle: 'tooltip', title: t('sites.telegram_notification')}, style: 'background-color: #0088cc' do
                      %i.fab.fa-telegram-plane

                  %li.list-inline-item
                    = link_to edit_site_path(site['id']), remote: true, class: "btn-circle btn-sm btn-warning text-decoration-none", data: {toggle: 'tooltip', title: t('shared.edit')} do
                      %i.fas.fa-edit

                  %li.list-inline-item
                    = link_to "#", data: { target: "#confirmModal#{site['id']}", toggle: "modal", title: t('shared.delete') }, class: "btn btn-circle btn-sm btn-danger text-decoration-none btn-destroy" do
                      %i.fas.fa-trash
                    = render "shared/confirm_destroy", item_id: site['id'], destroy_url: site_path(site['id'])

    - if @pagy.pages > 1
      != render partial: 'shared/pagy/bootstrap_nav', locals: {pagy: @pagy}
