= render partial: "shared/page_header", locals: { title: t(".title"), link: link_to_new("site") }

%table.table
  %tr
    %th= t(".name")
    %th= t(".code")
    %th= t(".track_count")
    %th= t(".action")

    - @sites.each do |site|
      %tr
        %td= link_to site.name, site, style: "text-decoration: underline"
        %td= site.code
        %td= site.tracks_count
        %td
          = link_to fa_icon('pencil'), edit_site_path(site), class: "btn btn-sm btn-outline-primary"
          = link_to fa_icon('trash'), site_path(site), class: "btn btn-sm btn-outline-danger", method: :delete, data: { confirm: 'Are you sure?' }
          = link_to fa_icon('cog'), site_setting_path(site), class: "btn btn-sm btn-outline-secondary"

!= pagy_bootstrap_nav(@pagy)
