= render "shared/sb-admin/page_heading", title: "Sites"

.card.shadow.mb-4
  .card-header.py-3
    %h6.m-0.font-weight-bold.text-primary All sites
  .card-body
    .my-4
      .d-flex.align-items-center.justify-content-between
        .d-flex.align-items-center
          %span.mr-2 Search:
          %input.form-control.form-control-sm

        .actions
          = link_to "#", class: "btn btn-secondary mr-2", data: { toggle: "modal", target: "#importSiteModal" } do
            %i.fas.fa-file-upload.fa-fw
            Import sites
          = render "import-site-modal", site: @site

          = link_to "#", class: "btn btn-primary", data: { toggle: "modal", target: "#newSiteModal" } do
            %i.fas.fa-plus.fa-fw
            New site
          = render "create-new-site-modal", site: @site

    .table-responsive
      %table#dataTable.table.table-bordered{:cellspacing => "0", :width => "100%"}
        %thead
          %tr
            %th District
            %th Province
            %th Code
            %th Track count
            %th Action
        %tbody
          - @sites.each do |site|
            %tr
              %td= link_to site.name, site_path(site)
              %td --
              %td= site.code
              %td= site.tracks_count
              %td.text-right
                %button.btn{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                  %i.fas.fa-ellipsis-v

                .dropdown-menu.dropdown-menu-right
                  = link_to site_api_key_path(site), class: "btn dropdown-item" do
                    %i.fas.fa-key
                    %span= t('sites.api_key')

                  = link_to site_setting_path(site), class: "btn dropdown-item" do
                    %i.fab.fa-telegram
                    %span= t('sites.telegram_notification')

                  = link_to site_path(site), class: "btn dropdown-item" do
                    %i.fas.fa-edit
                    %span= t('shared.edit')

                  = link_to site_path(site), class: "btn dropdown-item", method: :delete, data: { confirm: t('sites.are_you_sure_to_delete_site') } do
                    %i.fas.fa-trash
                    %span= t('shared.delete')

!= render partial: 'shared/pagy/bootstrap_nav', locals: {pagy: @pagy}
