= render "shared/sb-admin/page_heading", title: "Sites"

.card.shadow.mb-4
  .card-header.py-3
    %h6.m-0.font-weight-bold.text-primary All sites
  .card-body
    .my-4
      .d-flex.align-items-center.justify-content-between
        .d-flex.align-items-center
          %span.mr-2 Search:
          %input.form-control.form-control-sm

        .actions
          = link_to "#", class: "btn btn-secondary mr-2", data: { toggle: "modal", target: "#importSiteModal" } do
            %i.fas.fa-file-upload.fa-fw
            Import sites
          = render "import-site-modal", site: @site

          = link_to "#", class: "btn btn-primary", data: { toggle: "modal", target: "#newSiteModal" } do
            %i.fas.fa-plus.fa-fw
            New site
          = render "create-new-site-modal", site: @site

    .table-responsive
      %table#dataTable.table.table-bordered{:cellspacing => "0", :width => "100%"}
        %thead
          %tr
            %th District
            %th Province
            %th Code
            %th Track count
            %th Action
        %tbody
          - @sites.each do |site|
            %tr
              %td= site.name
              %td --
              %td= site.code
              %td= site.tracks_count
              %td
                %ul.list-inline
                  %li.list-inline-item
                    = link_to site, class: "btn-circle btn-sm btn-info text-decoration-none" do
                      %i.fas.fa-eye.fa-fw
                  %li.list-inline-item
                    = link_to site_setting_path(site), class: "btn-circle btn-sm btn-secondary text-decoration-none" do
                      %i.fas.fa-fw.fa-cog
                  %li.list-inline-item
                    = link_to site_path(site), class: "btn-circle btn-sm btn-warning text-decoration-none" do
                      %i.fas.fa-edit.fa-fw
                  %li.list-inline-item
                    = link_to site_path(site), class: "btn-circle btn-sm btn-danger text-decoration-none" do
                      %i.fas.fa-trash.fa-fw

!= render partial: 'shared/pagy/bootstrap_nav', locals: {pagy: @pagy}
