= render "shared/sb-admin/page_heading", title: "Sites"

.card.shadow.mb-4
  .card-header.py-3
    %h6.m-0.font-weight-bold.text-primary All sites
  .card-body
    .my-4
      .d-flex.align-items-center.justify-content-between
        .d-flex.align-items-center
          %span.mr-2 Search:
          %input.form-control.form-control-sm

        .actions
          = link_to "#", class: "btn btn-secondary mr-2" do
            %i.fas.fa-file-upload.fa-fw
            Import sites

          = link_to "#", class: "btn btn-primary", data: { toggle: "modal", target: "#newSiteModal" } do
            %i.fas.fa-plus.fa-fw
            New site

          #newSiteModal.modal.fade{"aria-hidden" => "true", "data-backdrop": "static", "aria-labelledby" => "newSiteLabel", :role => "dialog", :tabindex => "-1"}
            .modal-dialog.modal-dialog-centered{:role => "document"}
              .modal-content
                = simple_form_for @site do |f|
                  .modal-header
                    %h5#newSiteLabel.modal-title Create new site
                    %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                      %span{"aria-hidden" => "true"} ×
                  .modal-body
                    = f.input :name
                    = f.input :code
                    = f.input :status, as: :boolean
                  .modal-footer
                    %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Cancel
                    = f.submit "Save changes", class: "btn btn-primary"


    .table-responsive
      %table#dataTable.table.table-bordered{:cellspacing => "0", :width => "100%"}
        %thead
          %tr
            %th District
            %th Province
            %th Code
            %th Track count
            %th Action
        %tbody
          - @sites.each do |site|
            %tr
              %td= link_to site.name, site
              %td --
              %td= site.code
              %td= site.tracks_count
              %td
                %ul.list-inline
                  %li.list-inline-item 
                    = link_to site_path(site), class: "btn-circle btn-sm btn-info text-decoration-none" do
                      %i.fas.fa-eye.fa-fw
                  %li.list-inline-item 
                    = link_to site_path(site), class: "btn-circle btn-sm btn-warning text-decoration-none" do
                      %i.fas.fa-edit.fa-fw
                  %li.list-inline-item 
                    = link_to site_path(site), class: "btn-circle btn-sm btn-danger text-decoration-none" do
                      %i.fas.fa-trash.fa-fw

!= render partial: 'shared/pagy/bootstrap_nav', locals: {pagy: @pagy}
