= render partial: "shared/page_header", locals: { title: "Sites", link: link_to_new('site') }

%table.table
  %tr
    %th Name
    %th Code
    %th Tracks count
    %th Action

    - @sites.each do |site|
      %tr
        %td= link_to site.name, site, style: "text-decoration: underline"
        %td= site.code
        %td= site.tracks_count
        %td
          .btn-group.btn-group-sm
            = link_to fa_icon('pencil'), edit_site_path(site), class: "btn btn-outline-secondary" 
            = link_to fa_icon('trash'), site_path(site), class: "btn btn-outline-secondary" , method: :delete, data: { confirm: 'Are you sure?' }

!= pagy_bootstrap_nav(@pagy)
