= render "shared/sb-admin/page_heading", title: "#{@site.name_km} (#{@site.tracks.size})"

.card.shadow.mb-4
  .card-body
    .mb-4
      = render(SearchFormComponent.new(placeholder: t('sites.type_track_code'), url: site_path))

    .table-responsive
      %table.table.table-bordered
        %thead
          %tr
            %th Track Code

        %tbody
          - @tracks.each do |track|
            %tr
              %td= track.code

    - if @pagy.pages > 1
      != render partial: 'shared/pagy/bootstrap_nav', locals: {pagy: @pagy}
