%table.table.table-sm{ style: "font-size: 13px" }
  %tr
    %td
    %td= t(".accessed")
    %td= t(".submitted")
    %td= t(".completed")

  - [:total, :average].each do |group|
    %tr
      %td= t(".#{group.to_s}")
      - @goals.each do |goal|
        %td= goal.send(group)