%table.table.table-sm{ style: "font-size: 13px" }
  %tr
    %td
    %td= t(".satisfied") 
    %td= t(".disatisfied")

  - [:total, :average].each do |group|
    %tr
      %td= t(".#{group.to_s}")
      - @complaints.each do |complaint|
        %td= complaint.send(group)