.offset-md-8.col-4
  = render 'search'

- if policy(:menu_item).show?
  = render 'asc_line_chart'
  = render 'asc_summary_table'

%h4.mt-5.mb-3 Complaints
= render 'complaints_line_chart'
= render 'complaints_summary_table'