= render 'header', title: 'Accessed, Submitted, Completed', type: 'aggregates'
= render 'asc_line_chart'
= render 'asc_summary_table'


= render 'header', title: 'Complains', type: 'complains'
= render 'complains_line_chart'
= #render 'complains_summary_table'