= render 'header', title: 'Accessed, Submitted, Completed'
= render 'asc_line_chart'
= render 'asc_summary_table'


= render 'header', title: 'Complains'
= render 'complains_line_chart'
= #render 'complains_summary_table'