.offset-md-8.col-4
  = render "search"

- if policy(:menu_item).show?
  = render "accessed_submitted_completed_line_chart"
  = render "accessed_submitted_completed_summary_table"

%h4.mt-5.mb-3= t(".complaints")
= render "complaints_line_chart"
= render "complaints_summary_table"