!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title owso | InSTEDD iLab Southeast Asia
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload"
    = javascript_pack_tag "application", "data-turbolinks-track": "reload"
    = javascript_include_tag "application"
  %body{ id: css_class_name }
    .wrapper
      = render "shared/sidebar"
      #content
        .clearfix
        = render "shared/notify_message"
        = yield

    = javascript_include_tag "i18n"
    = javascript_include_tag "i18n/translations", skip_pipeline: true
    :javascript
      I18n.defaultLocale = "#{I18n.default_locale}";
      I18n.locale = "#{I18n.locale}";
