!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title OW4C | InSTEDD iLab Southeast Asia
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'

  %body{ id: css_class_name }
    = Gon::Base.render_data
    #wrapper.d-flex.h-100
      = render "shared/sb-admin/sidebar"

      #content-wrapper.d-flex.flex-column
        #content
          = render "shared/sb-admin/topbar"
          .container-fluid
            = render "shared/notify_message"
            = yield
