!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}
    %meta{:charset => "utf-8"}
    %title= ENV['PDF_TITLE']

    = wicked_pdf_stylesheet_link_tag "pdf"
    = wicked_pdf_javascript_pack_tag "pdf"

  %body#pdf.ql-editor
    = Gon::Base.render_data
    .error-message
    = yield
