!!!
%html{lang: I18n.locale}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    = display_meta_tags og: { |
        title:    'ទិន្និយការិយាល័យច្រកចេញចូលតែមួយ', |
        type:     'website', |
        url:      'https://ow4c-dashboard-stg.ilabsea.org/', |
        image:    "#{ image_url("fb-sample-share-photo.png") }", |
        description: 'ដោយមានការអញ្ជើញចូលរួម ដោយលោក បួន ហេង ប្រធាននាយកដ្ឋានមុខងារ និងធនធាន នៃអគ្គនាយកដ្ឋានរដ្ឋបាលក្រសួងមហាផ្ទៃ និងលោក សុខ ថុល នាយករដ្ឋបាលសាលាខេត្តសៀមរាប។វគ្គបណ្តុះបណ្តាលនេះ មានរយៈពេលពេញមួយថ្ងៃ ដោយមានការចួលរួមពីអស់លោក លោកស្រី ប្រធាន អនុប្រធានអង្គ', |
        site_name: 'InSTEDD iLab Southeast Asia' |
      }, |
      twitter: { |
        card: "summary", |
        site: "OW4C Public dashboard", |
        title: "ទិន្និយការិយាល័យច្រកចេញចូលតែមួយ", |
        description: 'ដោយមានការអញ្ជើញចូលរួម ដោយលោក បួន ហេង ប្រធាននាយកដ្ឋានមុខងារ និងធនធាន នៃអគ្គនាយកដ្ឋានរដ្ឋបាលក្រសួងមហាផ្ទៃ និងលោក សុខ ថុល នាយករដ្ឋបាលសាលាខេត្តសៀមរាប។វគ្គបណ្តុះបណ្តាលនេះ មានរយៈពេលពេញមួយថ្ងៃ ដោយមានការចួលរួមពីអស់លោក លោកស្រី ប្រធាន អនុប្រធានអង្គ', |
        creator: "InSTEDD iLab Southeast Asia", |
        image: "#{ image_url("fb-sample-share-photo.png") }", |
      }, |
      site: 'Welcome to OW4C | InSTEDD iLab Southeast Asia' |
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'

  %body{ id: css_class_name, style: 'overflow: scroll' }
    #main-content.position-relative
      = render "welcomes/switch_lang"

      #logo-container.mb-5
        .container
          .text-center
            = render "welcomes/logo"
      = yield
