!!!
%html{lang: :en}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title Welcome to OW4C | InSTEDD iLab Southeast Asia
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'

  %body{ id: css_class_name, style: 'overflow: scroll' }
    #main-content
      #logo-container
        .container
          .text-center
            = link_to root_path, role: "img" do
              = image_tag "usaid-logo.png", id: "branding-logo"

      #article
        .container{ role: "article" }
          .row
            .col-12
              %p.text-intro.mb-5
                USAID’s One Window for Citizens (OW4C) is a three-year project
                (October 2019-September 2022) that uses technology to provide
                Cambodian citizens clear, transparent information on public services
                available to them through the government One Window Service Offices
                (OWSOs).

          .row
            .col-12
              %p.text-intro.mb-5
                The data within this public dashbard is captured from the actual user 
                interactions/usages in piloting districts in Battambang provinces.

          .row
            .col-12
              %p.text-intro
                Please select the area of data location you want to be shown
      
      #piloting-header
        .container
          .row
            .col-12
              %h2{ role: "heading" } Our piloting areas:

      #form-query
        .container
          .row
            .col-12
              = simple_form_for :q, remote: true, method: :get, html: { class: "pt-3", role: "search" } do |f|
                .form-row
                  .logo-inline.form-group.col-3{ style: "display: none;" }
                    .d-flex.align-items-center.justify-content-start{ style: "width: 100%; height: 100%" }
                      = image_tag "usaid-logo.png", id: "branding-logo", class: "img-fluid"
                  = f.input :province, as: :select, collection: [], wrapper_html: { class: "col-lg-4 col-sm-12" }, input_html: { tabindex: 1, name: "province_code", id: "province", class: "w-100", data: { "pumi-select-collection-label-method": "name_en", "pumi-select-collection-url": "/pumi/provinces", "pumi-select-collection-value-method": "id", "pumi-select-populate-on-load": "true", "pumi-select-target": "district" } }
                  .form-group.q_district.select.col-lg-4.col-sm-12
                    = f.input :districts, as: :select, collection: [], include_blank: false, include_hidden: false, input_html: { multiple: "multiple", tabindex: 2, id: "district", name: 'district_code[]', class: "w-100 district_code",data: { "pumi-select-collection-label-method": "name_en", "pumi-select-collection-url": "/pumi/districts?province_id=FILTER", "pumi-select-collection-url-filter-interpolation-key": "FILTER", "pumi-select-collection-value-method": "id", "pumi-pumi-select-disabled-classss": "my-disabled-class", "pumi-select-disabled-target": "#district", "pumi-select-id": "district" } }
                  = f.input :start_date, as: :hidden, input_html: { class: "start_date", name: "start_date", value: @start_date }
                  = f.input :end_date, as: :hidden, input_html: { class: "end_date",name: "end_date", value: @end_date }
                  = f.input :time_period, wrapper_html: { class: "col-lg-3" }, input_html: { tabindex: 3, value: "#{@start_date} - #{@end_date}", class: "datepicker_date w-100" }
                  .form-group.col-1.d-flex.align-items-end.justify-content-end
                    = f.submit "Search", class: "btn btn-primary", disabled: false, tabindex: 4, disabled: true, id: "btn-search", role: "button"

      #tab
        .container
          %ul#menu.nav.nav-tabs{:role => "tablist"}
            %li.nav-item
              %a#summary-tab.nav-link.active{"aria-controls" => "summary", "aria-selected" => "true", "data-toggle" => "tab", :href => "#summary", :role => "tab"} Summary
            %li.nav-item
              %a#access-information-tab.nav-link{"aria-controls" => "access-information", "aria-selected" => "false", "data-toggle" => "tab", :href => "#access-information", :role => "tab"} Access Information
            %li.nav-item
              %a#citizen-feedback-tab.nav-link{"aria-controls" => "citizen-feedback", "aria-selected" => "false", "data-toggle" => "tab", :href => "#citizen-feedback", :role => "tab"} Citizen Feedback
            %li.nav-item
              %a#about-us-tab.nav-link{"aria-controls" => "about-us", "aria-selected" => "false", "data-toggle" => "tab", :href => "#about-us", :role => "tab"} About Us
          #menuContent.tab-content.pt-5
            #summary.tab-pane.fade.show.active{"aria-labelledby" => "summary-tab", :role => "tabpanel"}
              = render "dashboard/earnings"

              .row
                .col-xl-6.col-lg-5
                  = render "dashboard/total_user_visit"
                .col-xl-6.col-lg-5
                  = render "dashboard/total_user_feedback"
                
            #access-information.tab-pane.fade{"aria-labelledby" => "access-information-tab", :role => "tabpanel"}
              = render "dashboard/earnings"

              .row
                -# Information Access
                .col-xl-6.col-lg-5
                  = render "welcomes/charts/most_requested_services"
                .col-xl-6.col-lg-5
                  = render "dashboard/gender"
                .col-xl-6.col-lg-5
                  = render "welcomes/charts/information_accessed_periodically"
                .col-xl-6.col-lg-5
                  = render "welcomes/charts/number_access_by_main_services"
                .col-xl-6.col-lg-5
                  = render "welcomes/charts/most_service_tracked_by_periodic"
                .col-xl-6.col-lg-5
                  = render "welcomes/charts/ticket_tracking_by_gender"

            #citizen-feedback.tab-pane.fade{"aria-labelledby" => "citizen-feedback-tab", :role => "tabpanel"}
              = render "dashboard/earnings"

              .row
                -# citizen feedback
                .col-xl-6.col-lg-5
                  = render "dashboard/gender"
                .col-xl-6.col-lg-5
                  = render "dashboard/total_user_feedback"
                .col-xl-6.col-lg-5
                  = render "welcomes/charts/overall_rating_by_owso"
                .col-xl-6.col-lg-5
                  = render "welcomes/charts/owso_feedback_trend"
                -# feedback by sub category -> base on selected districts
                .col-xl-6.col-lg-5
                  = render "welcomes/charts/feedback_by_sub_category"
                .col-xl-6.col-lg-5
                  = render "welcomes/charts/feedback_by_sub_category"
            #about-us.tab-pane.fade{"aria-labelledby" => "about-us-tab", :role => "tabpanel"}
            

      

    
