!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    = Gon::Base.render_data
    = display_meta_tags og: { |
        title:    'ទិន្និយការិយាល័យច្រកចេញចូលតែមួយ', |
        type:     'website', |
        url:      'https://ow4c-dashboard-stg.ilabsea.org/', |
        image:    "#{ image_url("fb-sample-share-photo.png") }", |
        description: 'ដោយមានការអញ្ជើញចូលរួម ដោយលោក បួន ហេង ប្រធាននាយកដ្ឋានមុខងារ និងធនធាន នៃអគ្គនាយកដ្ឋានរដ្ឋបាលក្រសួងមហាផ្ទៃ និងលោក សុខ ថុល នាយករដ្ឋបាលសាលាខេត្តសៀមរាប។វគ្គបណ្តុះបណ្តាលនេះ មានរយៈពេលពេញមួយថ្ងៃ ដោយមានការចួលរួមពីអស់លោក លោកស្រី ប្រធាន អនុប្រធានអង្គ', |
        site_name: 'InSTEDD iLab Southeast Asia' |
      }, |
      twitter: { |
        card: "summary", |
        site: "OW4C Public dashboard", |
        title: "ទិន្និយការិយាល័យច្រកចេញចូលតែមួយ", |
        description: 'ដោយមានការអញ្ជើញចូលរួម ដោយលោក បួន ហេង ប្រធាននាយកដ្ឋានមុខងារ និងធនធាន នៃអគ្គនាយកដ្ឋានរដ្ឋបាលក្រសួងមហាផ្ទៃ និងលោក សុខ ថុល នាយករដ្ឋបាលសាលាខេត្តសៀមរាប។វគ្គបណ្តុះបណ្តាលនេះ មានរយៈពេលពេញមួយថ្ងៃ ដោយមានការចួលរួមពីអស់លោក លោកស្រី ប្រធាន អនុប្រធានអង្គ', |
        creator: "InSTEDD iLab Southeast Asia", |
        image: "#{ image_url("fb-sample-share-photo.png") }", |
      }, |
      site: 'Welcome to OW4C | InSTEDD iLab Southeast Asia' |
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'

  %body{ id: css_class_name, style: 'overflow: scroll' }
    = content_tag :a, nil, id: "link"
    #main-content.position-relative
      = render "welcomes/switch_lang"

      #logo-container.mb-5
        .container
          .text-center
            = render partial: "welcomes/logo", locals: { tabindex: 1 }
      = yield
    
    = render "welcomes/chatbot_short_into"

    :javascript
      if( !OWSO.Util.dev() ) {
        if( $(".fb-customerchat").length == 0 ) {
          var div = document.createElement('div');
          div.className = 'fb-customerchat';
          div.setAttribute('page_id', '100352538508662');
          div.setAttribute('ref', '');
          document.body.appendChild(div);
        }

        window.fbMessengerPlugins = window.fbMessengerPlugins || {
          init: function () {
            FB.init({
              appId            : '1678638095724206',
              autoLogAppEvents : true,
              xfbml            : true,
              version          : 'v8.0'
            });
          }, callable: []
        };
        window.fbAsyncInit = window.fbAsyncInit || function () {
          window.fbMessengerPlugins.callable.forEach(function (item) { item(); });
          window.fbMessengerPlugins.init();
        };
        setTimeout(function () {
          (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk/xfbml.customerchat.js";
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));
        }, 0);
      }
