!!!
%html{lang: :en}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title Welcome to OW4C | InSTEDD iLab Southeast Asia
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'

  %body{ id: css_class_name, style: 'overflow: scroll' }
    #main-content
      = render "welcomes/logo"
      = yield
